
<h4>Editar Agencias Navieras</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_ShippingAgencyMainFormPartial")
    </div>
}

<script src="~/Scripts/ShippingAgency/_ShippingAgencyEditFormPartial.js"></script>
<script src="~/Scripts/ShippingAgency/validations.js"></script>