@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
@Html.Partial("TableButtonTemplates/TableButtons")
<h4>Agencias Navieras</h4>


@using (Html.BeginForm())
{

    Html.RenderAction("ShippingAgencyPartial");
}
<div id="results">

</div>

<script src="~/Scripts/ShippingAgency/index.js"></script>
<script src="~/Scripts/ShippingAgency/editform.js"></script>
<script src="~/Scripts/ShippingAgency/validations.js"></script>



