
<h2>Coeficientes de Producción</h2>

@Html.Partial("_ProductionCoefficientQueryButtons")

@using (Html.BeginForm())
{
	@Html.Action("ProductionCoefficientPartial")
}

<script src="~/Scripts/productioncoefficient/index.js"></script>
