
@Html.Partial("TableButtonTemplates/TableButtons")

<h2>Partidas Arancelarias</h2>


@using (Html.BeginForm()){

    Html.RenderAction("TariffHeadinggPartial");
}

<script src="~/Scripts/TariffHeadingg/index.js"></script>
<script src="~/Scripts/TariffHeadingg/validation.js"></script>
<script src="~/Scripts/TariffHeadingg/editform.js"></script>

