@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    tbsysUserRecordSecurity item = Model ?? new tbsysUserRecordSecurity();
}

@Html.Hidden("id", item.id)

<table style="width: 100%;">
    <tr>
        <td>
            <strong>
               Usuario:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(item.User.username)
        </td>
    </tr>

    <tr>
        <td>
            <strong>
                Registro de Seguridad:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(item.tbsysObjSecurityRecord.obj)
        </td>
    </tr>   
</table>
