<h2>Registro de Seguridades de Usuarios</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("RecordSecurityPartial");
}

<script src="~/Scripts/recordsecurity/index.js"></script>
<script src="~/Scripts/recordsecurity/editform.js"></script>
<script src="~/Scripts/recordsecurity/validation.js"></script>