
<h4>Editar Parámetros</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_SettingMainFormPartial")
    </div>
}

<script src="~/Scripts/Setting/_SettingEditFormPartial.js"></script>
<script src="~/Scripts/Setting/validations.js"></script>