@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "PopupControlLinkmaincontent";
    settings.PopupElementID = "popupArea";
    settings.AllowDragging = true;
    settings.ShowOnPageLoad = true;
    settings.CloseAction = CloseAction.CloseButton;
    settings.HeaderText = "Area of Countries";
    settings.SetContent(() =>
    {
    ViewContext.Writer.Write(
        "<div id=\"linkmaincontent\"></div>"
        );
});
}).GetHtml()
