<div class="jumbotron">
    <h1>REPLICACIÓN</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Productos</h2>
        <button id="btn_migrarProducto" type="button" class="btn btn-default" style="margin-bottom: 4px; width:120px;" onclick="btn_migrarProducto_click()">
            <i class="glyphicon glyphicon-circle-arrow-down" style="margin-right: 5px;"></i>Ejecutar
        </button>
    </div>
    <div class="col-md-4">
        <h2>Proveedores</h2>
        <button id="btn_migrarProveedor" type="button" class="btn btn-default" style="margin-bottom: 4px; width:120px;" onclick="btn_migrarProveedor_click()">
            <i class="glyphicon glyphicon-circle-arrow-down" style="margin-right: 5px;"></i>Ejecutar
        </button>
    </div>
    <div class="col-md-4">
        <h2>Clientes</h2>
        <button id="btn_migrarCliente" type="button" class="btn btn-default" style="margin-bottom: 4px; width:120px;" onclick="btn_migrarCliente_click()">
            <i class="glyphicon glyphicon-circle-arrow-down" style="margin-right: 5px;"></i>Ejecutar
        </button>
    </div>

</div>
<div class="row">
    <div id="loading" class="loading" style="display:none"></div>
</div>
<div id="download-area"></div>
<script src="~/Scripts/home.js"></script>