@using System.Drawing
@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models
@{
    var grid = Html.DevExpress().GridView(settings => {
        settings.Name = "gvCountry";
        settings.CallbackRouteValues = new { Controller = "Country", Action = "CountryPartial" };

        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Country", Action = "CountryPartialAddNew" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Country", Action = "CountryPartialUpdate" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Country", Action = "CountryPartialDelete" };

        settings.CustomActionRouteValues = new { Controller = "Country", Action = "DeleteSelectedCountry" };

        settings.Width = Unit.Percentage(100);
        settings.KeyFieldName = "id";

        #region EDITFORM

        settings.SettingsEditing.Mode = GridViewEditingMode.EditForm;
        settings.SettingsText.PopupEditFormCaption = "Añadir País";
        settings.SettingsPopup.EditForm.Modal = true;
        settings.SettingsPopup.EditForm.Width = 800;
        settings.SettingsPopup.EditForm.HorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.VerticalAlign = PopupVerticalAlign.WindowCenter;

        settings.SettingsBehavior.ConfirmDelete = true;


        #endregion

        #region EVENT JAVASCRIPT

        settings.ClientSideEvents.Init = "OnGridViewInit";
        settings.ClientSideEvents.SelectionChanged = "OnGridViewSelectionChanged";
        settings.ClientSideEvents.BeginCallback = "OnGridViewBeginCallback";
        settings.ClientSideEvents.EndCallback = "OnGridViewEndCallback";

        #endregion

        #region
        settings.CustomJSProperties = (s, e) =>
        {
            MVCxGridView gv = s as MVCxGridView;
            if (gv == null) return;

            e.Properties["cpVisibleRowCount"] = gv.VisibleRowCount;
            e.Properties["cpFilteredRowCountWithoutPage"] = GetFilteredRowCountWithoutPage(gv);

            e.Properties["cpEditingRowKey"] = (gv.IsEditing && gv.GetRowValues(gv.EditingRowVisibleIndex, "id") != null) ? gv.GetRowValues(gv.EditingRowVisibleIndex, "id") : 0;

            if (ViewData["EditMessage"] != null)
            {
                e.Properties["cpEditMessage"] = ViewData["EditMessage"];
            }
        };

        #endregion 



        settings.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;
        settings.SettingsBehavior.ConfirmDelete = true;


        #region ROW
        settings.CommandColumn.Visible = true;
        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        #endregion

        #region SEARCH PANEL

        settings.SettingsSearchPanel.Visible = true;
        settings.Styles.SearchPanel.CssClass = "searchPanel";

        settings.Settings.ShowTitlePanel = true;
        settings.Styles.TitlePanel.CssClass = "titleContainer";
        #endregion

        #region COMAND COLUMN

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.Width = Unit.Percentage(2);
        settings.CommandColumn.ShowSelectCheckbox = true;
        settings.CommandColumn.SelectAllCheckboxMode = GridViewSelectAllCheckBoxMode.Page;

        #endregion


        #region DONT TOUCH

        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.Off;
        settings.SettingsAdaptivity.AdaptiveColumnPosition = GridViewAdaptiveColumnPosition.Right;
        settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = false;
        settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 0;


        #endregion

        #region BOTONES DE COMANDO PARA REGISTRO

        if (ShowEditButton() || ShowDeleteButton())
        {
            MVCxGridViewCommandColumn commandColumn = new MVCxGridViewCommandColumn
            {
                ShowEditButton = ShowEditButton(),
                ShowDeleteButton = false,
                Visible = true,
                VisibleIndex = 10,
                Width = Unit.Percentage(5),
                Caption = "Acciones"
            };

            if (ShowDeleteButton())
            {
                commandColumn.CustomButtons.Add(
                      new GridViewCommandColumnCustomButton
                      {
                          ID = "btnDeleteRow",
                          Text = "Eliminar"
                      }
                );
            }

            settings.ClientSideEvents.CustomButtonClick = "GridViewItemsCustomCommandButton_Click";

            settings.Columns.Add(commandColumn);
        }

        #endregion

        #region TITLE PANEL

        settings.Settings.ShowTitlePanel = true;
        settings.Styles.TitlePanel.CssClass = "titleContainer";

        settings.SetTitlePanelTemplateContent(c =>
        {
            ViewContext.Writer.Write(@"<span id=""lblTilte"">Listado de paises</span>");
        });

        #endregion

        #region ColumnsEdit

        settings.SetEditFormTemplateContent(c =>
        {
            int? id_country = (int?)DataBinder.Eval(c.DataItem, "id");
            Country country = DataProviderCountry.CountryById(id_country);

            if (country == null && ViewData["rowToCopy"] != null)
            {
                country = (ViewData["rowToCopy"] as Country) ?? new Country
                {
                    isActive = true
                };
                country.id = 0;
                country.code = "";
                country.name += "-Copia";
            }

            country = country ?? new Country
            {
                isActive = true
            };
            Html.RenderPartial("_CountryEditFormPartial", country);
        });

        #endregion

        #region MASTER DETAILS 

        settings.SettingsDetail.ShowDetailRow = true;
        settings.SettingsDetail.AllowOnlyOneMasterRowExpanded = true;

        settings.SetDetailRowTemplateContent(c =>
        {
            int? id_country = (int?)DataBinder.Eval(c.DataItem, "id");
            Country country = DataProviderCountry.CountryById(id_country);

            Html.RenderPartial("_CountryDetailPartial", country);
        });
        #endregion

        #region FOOTER


        settings.Settings.ShowFooter = true;

        settings.SetFooterRowTemplateContent(c =>
        {
            ViewContext.Writer.Write(@"<span id=""lblInfo""></span>");
            if (settings.CommandColumn.SelectAllCheckboxMode != GridViewSelectAllCheckBoxMode.AllPages)
            {
                ViewContext.Writer.Write(
                    @"<a id=""lnkSelectAllRows"" style=""cursor pointer;"" onclick=""SelectAllRows();"">Seleccionar Todos</a>
                    <a id=""lnkClearSelection"" style=""cursor pointer;"" onclick=""UnselectAllRows();"">Anular Selección </a>"
                        );
            }
        });

        #endregion


        #region COLUMNS ADD


        settings.Styles.Header.BackColor = Color.FromArgb(255, 255, 191, 102);
        settings.Styles.Header.Font.Bold = true;

        settings.Columns.Add(column =>
        {
            column.FieldName = "code";
            column.Name = "code";
            column.Caption = "Código";
            column.ColumnType = MVCxGridViewColumnType.TextBox;
            column.Width = Unit.Percentage(8);

        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "name";
            column.Name = "name";
            column.Caption = "Nombre";
            column.ColumnType = MVCxGridViewColumnType.TextBox;

        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "isActive";
            column.Name = "isActive";
            column.PropertiesEdit.ClientInstanceName = "isActive";
            column.Caption = "¿Activo?";
            column.Width = Unit.Percentage(3);
            column.ColumnType = MVCxGridViewColumnType.CheckBox;
            column.Visible = true;
        });

        #endregion 
    });
}
@grid.Bind(Model).GetHtml()


@functions {

    bool ShowEditButton()
    {
        var permissions = (ViewData["permissions"] as List<int>);
        return (permissions != null && permissions.Contains(10));
    }

    bool ShowDeleteButton()
    {
        var permissions = (ViewData["permissions"] as List<int>);
        return (permissions != null && permissions.Contains(8));
    }

    int GetFilteredRowCountWithoutPage(MVCxGridView grid)
    {
        int selectedRowsOnPage = 0;
        foreach (var key in grid.GetCurrentPageRowValues("id"))
        {
            if (grid.Selection.IsRowSelectedByKey(key))
                selectedRowsOnPage++;
        }
        return grid.Selection.FilteredCount - selectedRowsOnPage;
    }
}