
@Html.Partial("TableButtonTemplates/TableButtons")

<h2>País</h2>


@using (Html.BeginForm()){

    Html.RenderAction("CountryPartial");
}

<script src="~/Scripts/country/index.js"></script>
<script src="~/Scripts/country/validation.js"></script>
<script src="~/Scripts/country/editform.js"></script>

