
@{
    Layout = null;
}

<h2>Plantilla Contable</h2>

@Html.Partial("_AccountingTemplateCostTableButtom")

<div  id="_errormsgTT" class="pserr0" style="display:none" ></div>
@{
    Html.RenderAction("AccountingTemplateCostPartial");
}

<script src="~/Scripts/accountingTemplateCost/index.js"></script>
<script src="~/Scripts/accountingTemplateCost/editform.js"></script>
<script src="~/Scripts/accountingTemplateCost/validation.js"></script>
<script src="~/Scripts/shared/ps.genericfunctions.js"></script>