
@using DXPANACEASOFT.Models
@model DXPANACEASOFT.Models.ElectronicDocument

<link href="~/Content/plugins/jquery-toast/src/jquery.toast.css" rel="stylesheet" />

<h4>Comprobantes Electr&oacute;nicos</h4>

@{
    ViewData["Model"] = new DXPANACEASOFT.Models.ElectronicDocument
    {
        Document = new Document()
    };
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_ElectronicDocumentFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Content/plugins/jquery-toast/src/jquery.toast.js"></script>
<script src="~/Scripts/electronicdocument/index.js"></script>