
<h4>Editar Requerimiento de Inventario</h4>
<hr style="margin: 10px 0px;" />

@{
    Html.RenderPartial("Buttons/_DocumentFormEditActionsButtonsRequestInv");

    <div id="mainform">
        @Html.Partial("_RequestInventoryMoveMainFormPartial")
    </div>
}

<script src="~/Scripts/requestinventorymove/_requestinventoryeditformpartial.js"></script>