<div id="GridMessageErrorRequestInventoryMove" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrorRequestInventoryMove";
           settings.Properties.ClientInstanceName = "gridMessageErrorRequestInventoryMove";
           settings.Text = "";
       }).GetHtml()
</div>

