
<h4>Editar Calendario</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_CalendarPriceListMainFormPartial")
    </div>
}

<script src="~/Scripts/calendarPriceList/_CalendarPriceListEditFormPartial.js"></script>
<script src="~/Scripts/calendarPriceList/validations.js"></script>