@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
<h4>Calendario</h4>

@{
    ViewData["Model"] = new CalendarPriceList();
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_CalendarPriceListFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/calendarPriceList/index.js"></script>



