@{
	Layout = null;
}
<h4>Exportación de Datos de Permisos de Usuarios</h4>

@Html.Partial("FilterBoxTemplates/_FilterBox", "_QueryFilterDataExportUserPermissionPartial")
<div id="results"></div>
<script src="~/Scripts/dataExportUserPermission/index.js"></script>