<div id="GridMessageErrorDispatchMaterialDetail" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrorDispatchMaterialDetail";
           settings.Properties.ClientInstanceName = "gridMessageErrorDispatchMaterialDetail";
           settings.Text = "";
       }).GetHtml()
</div>

@Html.DevExpress().Button(settings =>
{
    settings.Name = "btnNewDispatchMaterial";
    //settings.Width = 90;
    settings.Text = "";
    //settings.RenderMode = ButtonRenderMode.Link;
    settings.Images.Image.IconID = IconID.ActionsAdditem16x16office2013;
    settings.ClientEnabled = true;
    settings.UseSubmitBehavior = false;
    settings.EnableClientSideAPI = true;
    settings.ClientSideEvents.Click = "AddNewDispatchMaterial";
}).GetHtml()

@Html.DevExpress().Button(settings =>
{
    settings.Name = "btnRemoveDispatchMaterial";
    //settings.Width = 90;
    settings.Text = "";
    //settings.RenderMode = ButtonRenderMode.Link;
    settings.Images.Image.IconID = IconID.ActionsRemoveitem16x16office2013;
    settings.ClientEnabled = true;
    settings.UseSubmitBehavior = false;
    settings.EnableClientSideAPI = true;
    settings.ClientSideEvents.Click = "RemoveDispatchMaterial";
}).GetHtml()

@Html.DevExpress().Button(settings =>
{
    settings.Name = "btnRefreshDispatchMaterial";
    //settings.Width = 90;
    settings.Text = "";
    //settings.RenderMode = ButtonRenderMode.Link;
    settings.Images.Image.IconID = IconID.ActionsRefresh16x16office2013;
    settings.ClientEnabled = true;
    settings.UseSubmitBehavior = false;
    settings.EnableClientSideAPI = true;
    settings.ClientSideEvents.Click = "RefreshDispatchMaterial";

}).GetHtml()

<hr style="margin-top: 2px; margin-bottom: 2px;" />
