<div id="GridMessageErrorItemDetail" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrorItemDetail";
           settings.Properties.ClientInstanceName = "gridMessageErrorItemDetail";
           settings.Text = "";
       }).GetHtml()
</div>
