@using System.Globalization
@model DXPANACEASOFT.Models.RemissionGuideExportInformation

<table class="table table-condensed">
    <tr>
        <td style="width: 10%;">
            @Html.DevExpress().LabelFor(m => m.uniqueCustomsDocument, settings =>
            {
                settings.Text = "No. Doc. Aduanero:";
                settings.AssociatedControlName = "uniqueCustomsDocument";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBoxFor(m => m.uniqueCustomsDocument, settings =>
            {
                settings.Name = "uniqueCustomsDocument";
                settings.Properties.ClientInstanceName = "uniqueCustomsDocument";
                settings.Width = Unit.Percentage(100);
                settings.ShowModelErrors = true;
                settings.Properties.ClientSideEvents.Validation = "OnUniqueCustomsDocumentValidation";
            }).GetHtml()
        </td>
    </tr>
</table>