@model List<DXPANACEASOFT.Models.RemGuide.RGResultsQuery>

@{
    Html.RenderPartial("DocumentTemplates/_DocumentGridViewActionsButtonsRemisionGuide");

    <div style="display:none" id="msgInfoRemisssionGuide">


    </div>

    Html.RenderPartial("_RemissionGuidePartial", Model);
}
