
<h4>Editar Motivos de Inventario</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_InventoryReasonMainFormPartial")
    </div>
}

<script src="~/Scripts/InventoryReason/_InventoryReasonEditFormPartial.js"></script>
<script src="~/Scripts/InventoryReason/validations.js"></script>