@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
@Html.Partial("TableButtonTemplates/TableButtons")
<h4>Motivos Inventario</h4>


@using (Html.BeginForm())
{

    Html.RenderAction("InventoryReasonPartial");
}
<div id="results">

</div>

<script src="~/Scripts/InventoryReason/index.js"></script>
<script src="~/Scripts/InventoryReason/editform.js"></script>
<script src="~/Scripts/InventoryReason/validations.js"></script>



