
<h4>Editar Planificación de Compra</h4>
<hr style="margin: 10px 0px;" />

@{

    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtons");
    <div id="mainform">
        @Html.Partial("_PurchasePlanningEditFormPartial")
    </div>
}

<script src="~/Scripts/purchasePlanning/_purchasePlanningEditFormPartial.js"></script>
<script src="~/Scripts/purchasePlanning/validations.js"></script>
