
<h4>Editar Cierre de Lotes</h4>
<hr style="margin: 10px 0px;" />

@{
    Html.RenderPartial("_ProductionLotFinalizeEditButtons");

    <div id="mainform">
        @Html.Partial("_ProductionLotFinalizeMainFormPartial")
    </div>
}

<script src="~/Scripts/productionLotFinalize/productionLotFinalize.js"></script>
