@model IList<ProductionLotFinalize.DetalleLote>
<div id="datosDetallesEditForm">
	<hr style="width: 100%;">
	<div id="detallesEjecucion" style="width: 100%;">
		@using (Html.BeginForm())
		{
			@Html.Partial("_DetailResulPartialEditTabPage", this.Model)
		}
	</div>
</div>
