<h4>Cierre de Lotes</h4>
<div id="notification"></div>
<div id="query-filters" class="widget-box">
	<div class="widget-header">
		<h6 class="widget-title">Criterios de Búsqueda</h6>
		<span class="widget-toolbar">
			<a href="#" id="btnAdvancedFilter">
				<i class="ace-icon fa fa-filter"></i>
			</a>
			<a href="#" id="btnCollapse" data-action="collapse">
				<i id="filterFormIcon" class="ace-icon fa fa-chevron-up"></i>
			</a>
		</span>
	</div>
	<div id="filterForm" class="widget-body">
		<div class="widget-main">
			@Html.Partial("_QueryFiltersPartial")
		</div>
	</div>
</div>
<div id="query-results"></div>
<div id="edit-form"></div>
<div id="download-area"></div>
<script type="text/javascript" src="~/Scripts/productionLotFinalize/productionLotFinalize.js"></script>