
<h4>Editar Gu&iacute;a de Remisi&oacute;n</h4>
<hr style="margin: 10px 0px;" />

@{
    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtonsRemisionGuide");

    <div id="mainform">
        @Html.Partial("RGReassignment/_RemissionGuideMainFormPartial")
    </div>
}

<script src="~/Scripts/rgreassignment/_remissionGuideEditFormPartial.js"></script>
<script src="~/Scripts/rgreassignment/validations.js"></script>