
<h4>Editar Puerto</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_PortMainFormPartial")
    </div>
}

<script src="~/Scripts/Port/_PortEditFormPartial.js"></script>
<script src="~/Scripts/Port/validations.js"></script>