@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
@Html.Partial("TableButtonTemplates/TableButtons")
<h4>Puerto</h4>


@using (Html.BeginForm())
{

    Html.RenderAction("PortPartial");
}
<div id="results">

</div>

<script src="~/Scripts/Port/index.js"></script>
<script src="~/Scripts/Port/editform.js"></script>
<script src="~/Scripts/Port/validations.js"></script>



