@using System.Drawing
@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    string labelPup = DataProviderSetting.ValueSetting("EUPPPRIM");
}

@{
    var grid = Html.DevExpress().GridView<AdvanceProvider>(settings =>
    {
        settings.Name = "gvAdvanceProvider";
        settings.CallbackRouteValues = new { Controller = "AdvanceProvider", Action = "AdvanceProviderPartial" };

        settings.Width = Unit.Percentage(100);

        settings.SettingsSearchPanel.Visible = true;
        settings.Styles.SearchPanel.CssClass = "searchPanel";

        settings.CommandColumn.Visible = true;
        settings.SettingsBehavior.ConfirmDelete = true;

        settings.CommandColumn.ShowSelectCheckbox = true;
        settings.CommandColumn.SelectAllCheckboxMode = GridViewSelectAllCheckBoxMode.Page;
        settings.CommandColumn.Width = Unit.Percentage(3);

        settings.KeyFieldName = "id";

        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.Settings.ShowFooter = true;
        settings.Settings.ShowFilterRowMenu = true;

        settings.Settings.ShowTitlePanel = true;
        settings.Styles.TitlePanel.CssClass = "titleContainer";

//settings.Settings.ShowFooter = true;

settings.ClientSideEvents.Init = "AdvanceProviderOnGridViewInit";
        settings.ClientSideEvents.SelectionChanged = "AdvanceProviderOnGridViewSelectionChanged";
        settings.ClientSideEvents.EndCallback = "AdvanceProviderOnGridViewEndCallback";
        settings.ClientSideEvents.RowDblClick = "OnRowDoubleClick";

        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.Off;
        settings.SettingsAdaptivity.AdaptiveColumnPosition = GridViewAdaptiveColumnPosition.Right;
        settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = false;
        settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 0;

        settings.SetTitlePanelTemplateContent(c =>
        {
            ViewContext.Writer.Write(@"<span id=""lblTitle"">Listado de Anticipos a Proveedores</span>");
        });

//Panel para cantidad de registros
settings.CustomJSProperties = (s, e) =>
        {
            MVCxGridView gv = s as MVCxGridView;
            if (gv == null) return;

            e.Properties["cpVisibleRowCountAP"] = gv.VisibleRowCount;
            e.Properties["cpFilteredRowCountWithoutPageAP"] = GetFilteredRowCountWithoutPage(gv);
        };

        settings.SetFooterRowTemplateContent(c =>
        {
            ViewContext.Writer.Write(@"<span id=""lblInfo""></span>");
            if (settings.CommandColumn.SelectAllCheckboxMode != GridViewSelectAllCheckBoxMode.AllPages)
            {
                ViewContext.Writer.Write(
                    @"<a id=""lnkSelectAllRows"" style=""cursor: pointer;"" onclick=""AdvanceProviderSelectAllRows()"">Seleccionar Todos</a>
              <a id=""lnkClearSelection"" style=""cursor: pointer;"" onclick=""AdvanceProviderClearSelection()"">Anular Selección</a>"
                );
            }
        });

//MASTER DETAILS
settings.SettingsDetail.AllowOnlyOneMasterRowExpanded = true;
        settings.SettingsDetail.ShowDetailRow = true;

//DETALLES EN GRID LLAMADA A OTRA TABLA
//settings.SetDetailRowTemplateContent(column =>
//{
//    int? id_purchaseOrder = (int?)DataBinder.Eval(column.DataItem, "id");
//    PurchaseOrder order = DataProviderPurchaseOrder.PurchaseOrder(id_purchaseOrder);
//    Html.RenderPartial("_AdvanceProviderResultsDetailViewPartial", order);
//});

settings.Styles.Header.BackColor = Color.FromArgb(255, 255, 191, 102);
        settings.Styles.Header.Font.Bold = true;

//Document
settings.Columns.Add(m => m.Document.number, column =>
        {
    //CAMBIO FEO
    column.Name = "number";
            column.Caption = "Número";
            column.ColumnType = MVCxGridViewColumnType.TextBox;
            column.Width = Unit.Percentage(25);

        });
        settings.Columns.Add(m => m.Lot.ProductionLot.number, column =>
        {
    //CAMBIO FEO
    column.Name = "numberLot";
            column.Caption = "Sec. Transaccional";
            column.ColumnType = MVCxGridViewColumnType.TextBox;
            column.Width = Unit.Percentage(25);

        });
        settings.Columns.Add(m => m.Lot.ProductionLot.internalNumber, column =>
        {
    //CAMBIO FEO
    column.Name = "internalNumber";
            column.Caption = "No. Lote";
            column.ColumnType = MVCxGridViewColumnType.TextBox;
            column.Width = Unit.Percentage(25);

        });
        settings.Columns.Add(m => m.Document.emissionDate, column =>
        {
            column.Caption = "Fecha de Emisión";
            column.ColumnType = MVCxGridViewColumnType.DateEdit;
            column.Width = Unit.Percentage(10);

            column.EditorProperties().DateEdit(editorDate =>
            {
                editorDate.DisplayFormatInEditMode = true;
                editorDate.DisplayFormatString = "dd/MM/yyyy";
                editorDate.EditFormat = EditFormat.Custom;
                editorDate.EditFormatString = "dd/MM/yyyy";
            });
        });
        settings.Columns.Add(m => m.Lot.ProductionLot.Person1.processPlant, column =>
        {
    //CAMBIO FEO
    column.Name = "process";
            column.Caption = "Proceso";
            column.ColumnType = MVCxGridViewColumnType.TextBox;
            column.Width = Unit.Pixel(100);
        });
        settings.Columns.Add(m => m.Provider.Person.fullname_businessName, column =>
        {
            column.Name = "providerAdvanceProvider";
            column.Caption = "Proveedor";
            column.ColumnType = MVCxGridViewColumnType.TextBox;
            column.Width = Unit.Percentage(35);
            column.CellStyle.HorizontalAlign = HorizontalAlign.Left;
        });
        settings.Columns.Add(m => m.ProductionUnitProvider.name, column =>
        {
            column.Name = "ProductionUnitProviderAP";
            column.Caption = (labelPup != "") ? labelPup : "Unidad de Producción";
            column.ColumnType = MVCxGridViewColumnType.TextBox;
            column.Width = Unit.Percentage(35);
            column.CellStyle.HorizontalAlign = HorizontalAlign.Left;
        });

        settings.Columns.Add(m => m.Document.DocumentState.name, column =>
        {
            column.Name = "documentState";
            column.Caption = "Estado";
            column.ColumnType = MVCxGridViewColumnType.TextBox;
            column.Width = Unit.Percentage(10);
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
        });

// COMMAND COLUMN

MVCxGridViewCommandColumn commandColumn = new MVCxGridViewCommandColumn
        {
            ShowEditButton = false,
            ShowDeleteButton = false,
            Visible = true,
            VisibleIndex = 14,
            Caption = "Acciones",
            Width = Unit.Percentage(10)
        };

        commandColumn.CustomButtons.Add(
            new GridViewCommandColumnCustomButton
            {
                ID = "btnEditRow",
                Text = "Editar"
            }
        );
        settings.ClientSideEvents.CustomButtonClick = "AdvanceProviderGridViewCustomCommandButton_Click";
        settings.Columns.Add(commandColumn);

    });
    if (ViewData["EditError"] != null)
    {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()

@functions {

    int GetFilteredRowCountWithoutPage(MVCxGridView grid)
    {
        int selectedRowsOnPage = 0;
        foreach (var key in grid.GetCurrentPageRowValues("id"))
        {
            if (grid.Selection.IsRowSelectedByKey(key))
                selectedRowsOnPage++;
        }
        return grid.Selection.FilteredCount - selectedRowsOnPage;
    }

}