
<h4>Editar Anticipo a Proveedor</h4>
<hr style="margin: 10px 0px;" />

@{
    Html.RenderPartial("ButtonsPL/_DocumentFormEditPLActionsButtons");

    <div id="mainform">
        @Html.Partial("_AdvanceProviderPLMainFormPartial")
    </div>
}

<script src="~/Scripts/advanceprovider/_AdvanceProviderEditFormPartial.js"></script>
<script src="~/Scripts/advanceprovider/validation.js"></script>