@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models
@{
    Layout = null;
}

<h4>Anticipo a Proveedores</h4>


@{
    @Html.Hidden("codeAdvancedFiltersConfiguration", "AP")
    ViewData["Model"] = new AdvanceProvider
    {
        Document = new Document
        {
            DocumentType = null
        }
    };
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_APFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/advanceprovider/index.js"></script>
<link href="~/Content/styles/buttons/buttons.css" rel="stylesheet" />

