@{
    Layout = null;
}

<h4>Asignación de Costo Producción</h4>

@{
    ViewData["Model"] = new DXPANACEASOFT.Models.CostAllocation();
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_CostAllocationFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/costallocation/index.js"></script>