
<h2>Tipos de Impuestos</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("TaxesTypesPartial");
}

<script src="~/Scripts/taxtype/index.js"></script>
<script src="~/Scripts/taxtype/editform.js"></script>
<script src="~/Scripts/taxtype/validation.js"></script>