<h4>Registrar Entrada de Veh&iacute;culos</h4>
<hr style="margin: 10px 0px;" />
@{
    TempData.Keep("remissionGuideRiverForControlVehicleEntrance");
    <div id="mainform">
        @Html.Partial("_RemissionGuideRiverControlVehicleEntranceMainFormPartial")
    </div>
}
<script src="~/Scripts/remissionguiderivercontrolvehicleentrance/_remissionGuideRiverControlVehicleEditFormPartial.js"></script>
<script src="~/Scripts/remissionguiderivercontrolvehicleentrance/validation.js"></script>
