@model List<DXPANACEASOFT.Models.RemissionGuideRiver>

<div id="GridMessageErrorRemissionGuideRiverCVE" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrorRemissionGuideRiverCVE";
           settings.Properties.ClientInstanceName = "gridMessageErrorRemissionGuideRiverCVE";
           settings.Text = "";
       }).GetHtml()
</div>
@Html.DevExpress().Button(settings =>
{
    settings.Name = "btnAssignDateTimeRemissionGuideRiverControlEntrance";
    settings.Text = "Asignar Fecha y Hora";
    settings.Images.Image.IconID = IconID.ActionsAdditem16x16office2013;
    settings.ClientEnabled = true;
    settings.UseSubmitBehavior = false;
    settings.EnableClientSideAPI = true;
    settings.ClientSideEvents.Click = "GenerateRemissionGuideRiverControlVehicleEntrance";
}).GetHtml()




<hr style="margin-top: 2px; margin-bottom: 2px;" />

@{
    Html.RenderPartial("_RemissionGuideRiverCVEResultsPartial", Model);
}




