@{
    Layout = null;
}

<h2>Tipos de Documentos</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("DocumentTypePartial");
}
<script src="~/Scripts/DocumentType/index.js"></script>



