@model List<DXPANACEASOFT.Models.DTOModel.DrainingTestPendingNewDTO>

@{
    Layout = null;
}

<h3>Pendientes de Prueba Escurrido</h3>

@Html.Partial("_GridViewPendingNew", Model)

<script src="~/Scripts/draining_test/pending_new.js"></script>