
@{
    Layout = null;
}

<h2>Acción del Controlador</h2>

@Html.Partial("TableButtonTemplates/TableButtons")


@{
    Html.RenderAction("TActionPartial");
}

<script src="~/Scripts/taction/index.js"></script>
<script src="~/Scripts/taction/editform.js"></script>
<script src="~/Scripts/taction/validations.js"></script>
