
<h2>Divisiones</h2>

@Html.Partial("TableButtonTemplates/TableButtons")


@using (Html.BeginForm())
{
    Html.RenderAction("DivisionsPartial");
}

<script src="~/Scripts/division/index.js">
</script><script src="~/Scripts/division/editform.js"></script>
<script src="~/Scripts/division/validation.js"></script>