<h4>Ingresar Estado de Pago</h4>
<hr style="margin: 10px 0px;" />
@{
    TempData.Keep("remissionGuideForInternControl");
    <div id="mainform">
        @Html.Partial("_RemissionGuideInternControlMainFormPartial")
    </div>
}
<script src="~/Scripts/remissionguideinterncontrol/_remissionGuideinterncontrolEditFormPartial.js"></script>
<script src="~/Scripts/remissionguideinterncontrol/validation.js"></script>