
<h4>Editar Categoría, Tipo de Cliente y Giro de Negocio</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_ClientCategoryTypeBusinessMainFormPartial")
    </div>
}

<script src="~/Scripts/clientCategoryTypeBusiness/_ClientCategoryTypeBusinessEditFormPartial.js"></script>
<script src="~/Scripts/clientCategoryTypeBusiness/validations.js"></script>