
<h2>Maestro de Piscinas</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("ProductionUnitProviderPoolsPartial");
}
<script src="~/Scripts/productionUnitProviderPool/index.js"></script>
<script src="~/Scripts/productionUnitProviderPool/editform.js"></script>
<script src="~/Scripts/productionUnitProviderPool/validation.js"></script>