
<h2>Grupos de Negocios</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@{
    Html.RenderAction("BusinessGroupsPartial");
}



<script src="~/Scripts/businessgroup/index.js"></script>
<script src="~/Scripts/businessgroup/editform.js"></script>
<script src="~/Scripts/businessgroup/validation.js"></script>