<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings><add name="DBContextoListaProduccion" connectionString="metadata=res://*/ModeloListaProduccion.csdl|res://*/ModeloListaProduccion.ssdl|res://*/ModeloListaProduccion.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=38.130.211.105;Database=ListaPrecioProexpo2510;User ID=Panacea;Password=P$.2·23.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="ListaPrecioProexpo2510Entities" connectionString="metadata=res://*/ModeloListaProduccion.csdl|res://*/ModeloListaProduccion.ssdl|res://*/ModeloListaProduccion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=38.130.211.105;initial catalog=ListaPrecioProexpo2510;user id=panacea;password=P$.2·23.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
