
@model ProductionCostCoefficientExecution

<div id="detallesCostoCoeficientes" style="width: 100%;">
	@if (this.Model.ProductionCostCoefficientExecutionWarehouses.Any())
	{
		@Html.Partial("_CoefficientExecutionWarehouseDetailsPartial", this.Model)
	}
</div>