
<h4>Editar Gu&iacute;a de Remisi&oacute;n Fluvial</h4>
<hr style="margin: 10px 0px;" />

@{
    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtonsRemisionGuide");

    <div id="mainform">
        @Html.Partial("_RemissionGuideRiverMainFormPartial")
    </div>
}

<script src="~/Scripts/remissionguideriver/_remissionGuideriverEditFormPartial.js"></script>
<script src="~/Scripts/remissionguideriver/validations.js"></script>