@model List<DXPANACEASOFT.Models.RemissionGuideRiver>

@{
    Html.RenderPartial("DocumentTemplates/_DocumentGridViewActionsButtonsRemisionGuide");

    <div style="display:none" id="msgInfoRemisssionGuide">


    </div>

    Html.RenderPartial("_RemissionGuideRiverPartial", Model);
}
