@model List<DXPANACEASOFT.Models.RemGuideRiver.RemGuideResultsForRiver>

<div id="GridMessageErrorRemissionGuideForRiver" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrorRemissionGuideForRiver";
           settings.Properties.ClientInstanceName = "gridMessageErrorRemissionGuideForRiver";
           settings.Text = "";
       }).GetHtml()
</div>

@Html.DevExpress().Button(settings =>
{
    settings.Name = "btnGenerateRemissionGuideRiver";
    settings.Text = "Generar Guía Remisión Fluvial Terrestre";
    settings.Images.Image.IconID = IconID.ActionsAdditem16x16office2013;
    settings.ClientEnabled = true;
    settings.UseSubmitBehavior = false;
    settings.EnableClientSideAPI = true;
    settings.ClientSideEvents.Click = "GenerateRemissionGuideRiver";
}).GetHtml()


<hr style="margin-top: 2px; margin-bottom: 2px;" />

@{
    Html.RenderPartial("_RemissionGuideForRiverPartial", Model);
}
