
@{
    Layout = null;
}

<h4>Liquidaci&oacute;n de Lotes</h4>

@{
    ViewData["Model"] = new DXPANACEASOFT.Models.ProductionLot();
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_ProductionLotLiquidationFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/productionlotliquidation/index.js"></script>
