
<h4>Editar Periodo</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_InventoryPeriodCloseMassiveMainFormPartial")
    </div>
}

<script src="~/Scripts/InventoryPeriodCloseMassive/_InventoryPeriodCloseMassiveEditFormPartial.js"></script>
<script src="~/Scripts/InventoryPeriodCloseMassive/validations.js"></script>