@model List<DXPANACEASOFT.Models.InventoryPeriodDetail>


@{
	Html.RenderPartial("_InventoryPeriodCloseMassiveListActions");



	<div style="display:none" id="msgInfoInventoryPeriodCloseMassiveList">

	</div>
	using (Html.BeginForm())
	{
		//Html.RenderPartial("_InventoryPeriodCloseMassivePartial", Model);
		Html.RenderPartial("_InventoryPeriodCloseMassivePartial", Model);
	}

}



