<div style="width: 100%;">

	@Html.DevExpress().Button(settings =>
	{
		settings.Name = "btnGenerateNewAbrir";
		settings.Text = "Abrir Periodos";
		settings.Images.Image.IconID = IconID.ActionsOpen16x16office2013;
		settings.ClientEnabled = true;
		settings.UseSubmitBehavior = false;
		settings.EnableClientSideAPI = true;
		settings.ClientSideEvents.Click = "GenerateNewFromInventoryPeriodCloseMassiveAbrir";
	}).GetHtml()

	@Html.DevExpress().Button(settings =>
	{
		settings.Name = "btnGenerateNewCerrar";
		settings.Text = "Cerrar Periodos";
		settings.Images.Image.IconID = IconID.ActionsClose16x16office2013;
		settings.ClientEnabled = true;
		settings.UseSubmitBehavior = false;
		settings.EnableClientSideAPI = true;
		settings.ClientSideEvents.Click = "GeneratereasignNewFromInventoryPeriodCloseMassiveCerrar";
	}).GetHtml()

</div>
<hr style="margin-top: 2px; margin-bottom: 2px;" />

<script src="~/Scripts/InventoryPeriodCloseMassive/editform.js"></script>