@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
<h4>Cierre Periodo Inventario</h4>

@{
    ViewData["Model"] = new InventoryPeriodDetail();
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_InventoryPeriodCloseMassiveFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/InventoryPeriodCloseMassive/index.js"></script>



