<div id="GridMessageError">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrordeta";
           settings.Properties.ClientInstanceName = "gridMessageErrordeta";
           settings.Text = "";
       }).GetHtml()

    <div style="width: 500px; float: left; display: block; clear: both;">
        <div style="width: 250px; border: 1px  solid; float: left;">
        </div>
        <div style="width: 250px; border: 1px solid; float: left;">
        </div>
    </div>
</div>
