
<h4>Editar Líneas Navieras</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_ShippingLineMainFormPartial")
    </div>
}

<script src="~/Scripts/ShippingLine/_ShippingLineEditFormPartial.js"></script>
<script src="~/Scripts/ShippingLine/validations.js"></script>