@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
@Html.Partial("TableButtonTemplates/TableButtons")
<h4>Líneas Navieras</h4>


@using (Html.BeginForm())
{

    Html.RenderAction("ShippingLinePartial");
}
<div id="results">

</div>

<script src="~/Scripts/ShippingLine/index.js"></script>
<script src="~/Scripts/ShippingLine/editform.js"></script>
<script src="~/Scripts/ShippingLine/validations.js"></script>



