<h4>Registrar Entrada de Veh&iacute;culos de Terceros</h4>
<hr style="margin: 10px 0px;" />
@{
    TempData.Keep("remissionGuideForControlVehicleEntranceThird");
    <div id="mainform">
        @Html.Partial("_RemissionGuideControlVehicleEntranceThirdMainFormPartial")
    </div>
}
<script src="~/Scripts/remissionguidecontrolvehicleentrancethird/_remissionGuideControlVehicleEditFormPartial.js"></script>
<script src="~/Scripts/remissionguidecontrolvehicleentrancethird/validation.js"></script>