
<h4>Editar Categoría y Tipo de Cliente</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_CategoryCustomerTypeMainFormPartial")
    </div>
}

<script src="~/Scripts/categoryCustomerType/_ShippingLineShippingAgencyEditFormPartial.js"></script>
<script src="~/Scripts/categoryCustomerType/validations.js"></script>