@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
@Html.Partial("TableButtonTemplates/TableButtons")
<h4>Categorias y Tipos de Clientes</h4>


@using (Html.BeginForm())
{

    Html.RenderAction("CategoryCustomerTypePartial");
}
<div id="results">

</div>

<script src="~/Scripts/categoryCustomerType/index.js"></script>
<script src="~/Scripts/categoryCustomerType/editform.js"></script>
<script src="~/Scripts/categoryCustomerType/validations.js"></script>



