<div id="GridMessageWarningDetail" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageWarningDetail";
           settings.Properties.ClientInstanceName = "gridMessageWarningDetail";
           settings.Text = "";
       }).GetHtml()
</div>
