.mainContainer {
    display: table;
    margin-bottom: 34px;
    width:100%;
}

.innerEditor {
    max-width: 350px;
    padding-bottom: 16px;
}

.innerContent {
    vertical-align: middle;
    line-height: 150%;
    word-break: break-all;
}

@media(min-width:620px) {
    .innerEditor, .innerContent {
        display: table-cell;
    }
    .innerEditor {
        width:300px;
    }
    .innerContent {
        word-break: break-word;
    }
}