<h2>Gastos de Producción</h2>

@Html.Partial("_ProductionExpenseTableButtom")

@using (Html.BeginForm())
{
    Html.RenderAction("ProductionExpensePartial");
}

<script src="~/Scripts/productionexpense/index.js"></script>
<script src="~/Scripts/productionexpense/editform.js"></script>
<script src="~/Scripts/productionexpense/validation.js"></script>