<h4>Registrar Entrada de Veh&iacute;culos</h4>
<hr style="margin: 10px 0px;" />
@{
    TempData.Keep("remissionGuideForControlVehicleEntrance");
    <div id="mainform">
        @Html.Partial("_RemissionGuideControlVehicleEntranceMainFormPartial")
    </div>
}
<script src="~/Scripts/remissionguidecontrolvehicleentrance/_remissionGuideControlVehicleEditFormPartial.js"></script>
<script src="~/Scripts/remissionguidecontrolvehicleentrance/validation.js"></script>
