@using RemissionGuideEntradaDTO = DXPANACEASOFT.Controllers.RemissionGuideControlVehicleEntranceController.RemissionGuideEntradaDTO;
@model List<RemissionGuideEntradaDTO>

@{ 
	<style>
		.tama {
			height: initial;
			width: initial;
			overflow-y: auto;
		}
	</style>
}

@{
	//Html.RenderPartial("DocumentTemplates/_DocumentGridViewActionsButtons");
	<div class="tama">
		@using (Html.BeginForm())
		{
			Html.RenderPartial("_RemissionGuideControlVehicleEntrancePartial", Model);
		}
	</div>
}


