
<h4>Editar Factura del Exterior</h4>
<hr style="margin: 10px 0px;" />

@{
    
    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtonsInvoiceExterior");

    <div id="mainform">
        @Html.Partial("_InvoiceExteriorMainFormPartial")
    </div>
}

<script src="~/Scripts/invoiceeexterior/_invoiceExteriorEditFormPartial.js"></script>
<script src="~/Scripts/invoiceeexterior/validations.js"></script>
<script src="~/Scripts/shared/ps.genericfunctions.js"></script>
