
@model List<DXPANACEASOFT.Models.InvoiceCommercial>


@{
	Html.RenderPartial("_InvoiceCommercialListActions");


	<div style="display:none" id="msgInfoInvoiceCommercialList">


	</div>


	Html.RenderPartial("_InvoiceCommercialGridView", Model.OrderByDescending(obd => obd.Document.id).ToList());

}
