@using System.Globalization
@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models
@using ValidationSettings = System.Web.UI.ValidationSettings
@model DXPANACEASOFT.Models.Invoice

<table class="table table-condensed ps-100">
    <tr>
		<td colspan="2">
			@{

				DocumentState documentState = (Model != null && Model.Document != null && Model.Document.id_documentState != 0) ? DataProviderDocumentState.DocumentStateById(Model.Document.id_documentState) : DataProviderDocumentState.DocumentStateByCodeByCompany((int)ViewData["id_company"], "01");
				tbsysDocumentDocumentStateControlsState _ControlState = DataProviderControlState.ControlStateByDocumentByStateByControl("07", documentState.code, "gvInvoiceDetail");

				List<InvoiceDetail> invoiceDetail = (Model != null && Model.InvoiceDetail != null) ? Model.InvoiceDetail.Where(r => r.isActive).ToList() : new List<InvoiceDetail>();

				Html.RenderPartial("_InvoiceExteriorSelectorWeight");

				Html.RenderPartial("DocumentTemplates/_DocumentDetailsActionsButtonsFF", _ControlState);
				//if (Model != null && Model.Document != null && Model.Document.id_documentOrigen == null)
				//{
				//    Html.RenderPartial("DocumentTemplates/_DocumentDetailsActionsButtonsFF", _ControlState);
				//}

				Html.RenderPartial("_InvoiceExteriorMainFormTabDetailsProduct", invoiceDetail);
				@Html.Hidden("amount");
				@Html.Hidden("id_amountInvoice");
				@Html.Hidden("id_metricUnitInvoiceDetail");
				@Html.Hidden("amountProforma");
			}
		</td>

    </tr>
    <tr>
        <td id="objInfoAdicional" class="ps-60 ps_valTop">
            @{
                Html.RenderPartial("_InvoiceExternalInfoAdicional");
            }
        </td>
        <td class="ps-40 ps_valTop">
            <div id="objTotalesPartial">
                @{
                    Html.RenderPartial("_InvoiceExternalTotales");
                }
            </div>
        </td>
    </tr>

</table>


