
@model List<DXPANACEASOFT.Models.Invoice>


@{
    Html.RenderPartial("DocumentTemplates/_DocumentGridViewActionsButtonsInvoiceExterior");

  

    <div style="display:none" id="msgInfoInvoiceExterior">   
        

    </div>



    Html.RenderPartial("_InvoiceexteriorPartial", Model);

}
