<div style="width: 100%;">

	@Html.DevExpress().Button(settings =>
	{
		settings.Name = "btnGenerateNewFromInvoiceCommercial";
		settings.Text = "Generar Factura Fiscal";
		settings.Images.Image.IconID = IconID.ActionsAdditem16x16office2013;
		settings.ClientEnabled = true;
		settings.UseSubmitBehavior = false;
		settings.EnableClientSideAPI = true;
		settings.ClientSideEvents.Click = "GenerateNewFromInvoiceCommercial";
	}).GetHtml()

	@Html.DevExpress().Button(settings =>
	{
		settings.Name = "btnGeneratereasignNewFromInvoiceCommercial";
		settings.Text = "Reasignar Factura Fiscal";
		settings.Images.Image.IconID = IconID.ActionsAdditem16x16office2013;
		settings.ClientEnabled = true;
		settings.UseSubmitBehavior = false;
		settings.EnableClientSideAPI = true;
		settings.ClientSideEvents.Click = "GeneratereasignNewFromInvoiceCommercial";
	}).GetHtml()

</div>
<hr style="margin-top: 2px; margin-bottom: 2px;" />