<div style="width: 100%;">

	@Html.DevExpress().Button(settings =>
	{
		settings.Name = "btnGenerateNew";
		settings.Text = "Generar Factura Fiscal";
		settings.Images.Image.IconID = IconID.ActionsAdditem16x16office2013;
		settings.ClientEnabled = true;
		settings.UseSubmitBehavior = false;
		settings.EnableClientSideAPI = true;
		settings.ClientSideEvents.Click = "GenerateNewFromSalesQuotation";
	}).GetHtml()

	@Html.DevExpress().Button(settings =>
	{
		settings.Name = "btnGeneratereasignNew";
		settings.Text = "Reasignar Factura Fiscal";
		settings.Images.Image.IconID = IconID.ActionsAdditem16x16office2013;
		settings.ClientEnabled = true;
		settings.UseSubmitBehavior = false;
		settings.EnableClientSideAPI = true;
		settings.ClientSideEvents.Click = "GeneratereasignNewFromSalesQuotation";
	}).GetHtml()

</div>
<hr style="margin-top: 2px; margin-bottom: 2px;" />