
@model List<DXPANACEASOFT.Models.SalesQuotationExterior>


@{
	Html.RenderPartial("_SalesQuotationListActions");


	<div style="display:none" id="msgInfoSalesQuotationList">


	</div>


	Html.RenderPartial("_SalesQuotationGridView", Model.OrderByDescending(obd => obd.Invoice.Document.id).ToList());

}
