
<h4>Editar Categoría Financiamiento</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_FinancyCategoryMainFormPartial")
    </div>
}

<script src="~/Scripts/FinancyCategory/_FinancyCategoryEditFormPartial.js"></script>
<script src="~/Scripts/FinancyCategory/validations.js"></script>