@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
@Html.Partial("TableButtonTemplates/TableButtons")
<h4>Categoría Financiamiento</h4>


@using (Html.BeginForm())
{
    Html.RenderAction("FinancyCategoryPartial");
}
<div id="results">

</div>

<script src="~/Scripts/FinancyCategory/index.js"></script>
<script src="~/Scripts/FinancyCategory/editform.js"></script>
<script src="~/Scripts/FinancyCategory/validations.js"></script>



