
<h4>Editar Banco</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_BoxCardAndBankMainFormPartial")
    </div>
}

<script src="~/Scripts/BoxCardAndBank/_BoxCardAndBankEditFormPartial.js"></script>
<script src="~/Scripts/BoxCardAndBank/validations.js"></script>