@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
@Html.Partial("TableButtonTemplates/TableButtons")
<h4>Banco</h4>


@using (Html.BeginForm())
{
    Html.RenderAction("BoxCardAndBankPartial");
}
<div id="results">

</div>

<script src="~/Scripts/BoxCardAndBank/index.js"></script>
<script src="~/Scripts/BoxCardAndBank/editform.js"></script>
<script src="~/Scripts/BoxCardAndBank/validations.js"></script>



