@{
    Layout = null;
}
<h4>Ejecutar Proceso Externo</h4>
<hr style="margin: 10px 0px;" />

@Html.Partial("_JobSchedulerFormEdit")

<div id="download-area"></div>

<script src="~/Scripts/shared/ps.genericfunctions.js"></script>
<script src="~/Scripts/jobscheduler/index.js"></script>