
<h2>Catálogos</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("CataloguesPartial");
}
<div id="download-area"></div>
<script src="~/Scripts/catalogue/index.js"></script>
<script src="~/Scripts/catalogue/editform.js"></script>
<script src="~/Scripts/catalogue/validation.js"></script>