@{
    Layout = null;
}

<h2>Tipos de Identificación</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("IdentificationTypesPartial");
}

<script src="~/Scripts/identificationtype/index.js"></script>
