
@{
    Layout = null;
}

<h2>Roles Personal Asignado</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("RemissionGuideAssignedStaffRolPartial");
}

<script src="~/Scripts/remissionguideassignedstaffrol/index.js"></script>
<script src="~/Scripts/remissionguideassignedstaffrol/editform.js"></script>
<script src="~/Scripts/remissionguideassignedstaffrol/validation.js"></script>


