
<h4>Editar Liquidación Carro por Carro</h4>
<hr style="margin: 10px 0px;" />

@{

    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtons");
    <div id="mainform">
        @Html.Partial("_LiquidationCartOnCartEditFormPartial")
    </div>
}

<script src="~/Scripts/liquidationcartoncart/_liquidationCartOnCartEditFormPartial.js"></script>
<script src="~/Scripts/liquidationcartoncart/validations.js"></script>
