
<h4>Editar Apertura de M&aacute;quina</h4>
<hr style="margin: 10px 0px;" />

@{

    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtons");
    <div id="mainform">
        @Html.Partial("_MachineProdOpeningEditFormPartial")
    </div>
}

<script src="~/Scripts/machineprodopening/_machineProdOpeningEditFormPartial.js"></script>
<script src="~/Scripts/machineprodopening/validations.js"></script>
