
@{
    Layout = null;
}

<h4>Apertura de M&aacute;quina</h4>

@{
    ViewData["Model"] = new DXPANACEASOFT.Models.MachineProdOpening();
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_MachineProdOpeningFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/machineprodopening/index.js"></script>