
@{
    Layout = null;
}
<h2>Estado del Sello de Seguridad</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("SecuritySealStatePartial");
}

<script src="~/Scripts/securitysealstate/index.js"></script>
<script src="~/Scripts/securitysealstate/editform.js"></script>
<script src="~/Scripts/securitysealstate/validation.js"></script>

