
<h4>Editar Línea y Agencia</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_ShippingLineShippingAgencyMainFormPartial")
    </div>
}

<script src="~/Scripts/ShippingLineShippingAgency/_ShippingLineShippingAgencyEditFormPartial.js"></script>
<script src="~/Scripts/ShippingLineShippingAgency/validations.js"></script>