@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
@Html.Partial("TableButtonTemplates/TableButtons")
<h4>LINEAS Y AGENCIAS NAVIERAS</h4>


@using (Html.BeginForm())
{

    Html.RenderAction("ShippingLineShippingAgencyPartial");
}
<div id="results">

</div>

<script src="~/Scripts/ShippingLineShippingAgency/index.js"></script>
<script src="~/Scripts/ShippingLineShippingAgency/editform.js"></script>
<script src="~/Scripts/ShippingLineShippingAgency/validations.js"></script>



