
<h4>Editar Liquidación de Flete</h4>
<hr style="margin: 10px 0px;" />

@{
    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtons");

    <div id="mainform">
        @Html.Partial("_LiquidationFreightMainFormPartial")
    </div>
}

<script src="~/Scripts/LiquidationFreight/_LiquidationFreightEditFormPartial.js"></script>
<script src="~/Scripts/LiquidationFreight/validations.js"></script>