
@model List<DXPANACEASOFT.Models.LiquidationFreightDocument>

<table class="table table-condensed" style="margin: 0px;">
    <tr>
        <td>
            @{
                
                Html.RenderPartial("_LiquidationDocumentsAttachedDocumentsEditPartial");
            }
        </td>
    </tr>
</table>
