<div id="GridMessageErrorsDetail" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrorsDetail";
           settings.Properties.ClientInstanceName = "gridMessageErrorsDetail";
           settings.Text = "";
       }).GetHtml()
</div>
