<div id="GridMessageErrorPackingMaterialDetail" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrorPackingMaterialDetail";
           settings.Properties.ClientInstanceName = "gridMessageErrorPackingMaterialDetail";
           settings.Text = "";
       }).GetHtml()
</div>
