<div id="GridMessageErrorMaterialsDetail" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrorMaterialsDetail";
           settings.Properties.ClientInstanceName = "gridMessageErrorMaterialsDetail";
           settings.Text = "";
       }).GetHtml()
</div>
