
<h4>Editar Lote Proceso de Integración</h4>
<hr style="margin: 10px 0px;" />

@{

    Html.RenderPartial("IntegrationProcessButtons/_IntegrationProcessEditActionsButtons");

    <div id="mainform">
        @Html.Partial("_IntegrationProcessWrapperPartial")
    </div>
}



<script src="~/Scripts/integrationprocess/editform.js"></script>

