
@using DXPANACEASOFT.Models
@model DXPANACEASOFT.Models.IntegrationProcess
 

<h4>Proceso de Integración de Documentos</h4>

@{
    ViewData["Model"] = new DXPANACEASOFT.Models.IntegrationProcess();

    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_IntegrationProcessFilterFormPartial");
}

<div id="results">

</div>

 <script src="~/Scripts/shared/ps.genericfunctions.js"></script>
<script src="~/Scripts/integrationprocess/index.js"></script>