
<h4>Editar Estado</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_StateOfContryMainFormPartial")
    </div>
}

<script src="~/Scripts/StateOfContry/_StateOfContryEditFormPartial.js"></script>
<script src="~/Scripts/StateOfContry/validations.js"></script>