
@Html.Partial("TableButtonTemplates/TableButtons")

<h2>Motivos de Parada de Máquina</h2>


@using (Html.BeginForm()){

    Html.RenderAction("ProductiveHoursReasonPartial");
}

<script src="~/Scripts/productivehoursreason/index.js"></script>
<script src="~/Scripts/productivehoursreason/validation.js"></script>
<script src="~/Scripts/productivehoursreason/editform.js"></script>

