<h4>Registrar Salida de Veh&iacute;culos</h4>
<hr style="margin: 10px 0px;" />
@{
    TempData.Keep("remissionGuideRiverForControlVehicle");
    <div id="mainform">
        @Html.Partial("_RemissionGuideRiverControlVehicleMainFormPartial")
    </div>
}
<script src="~/Scripts/remissionguiderivercontrolvehicle/_remissionGuideRiverControlVehicleEditFormPartial.js"></script>
<script src="~/Scripts/remissionguiderivercontrolvehicle/validation.js"></script>