
<h2>Categorías de Grupos de Productos</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("ItemGroupCategoriesPartial");
}

<script src="~/Scripts/itemgroupcategory/index.js"></script>
<script src="~/Scripts/itemgroupcategory/editform.js"></script>
<script src="~/Scripts/itemgroupcategory/validation.js"></script>
