<h2>Tipos de Tarifarios</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("TransportTariffTypePartial");
}

<script src="~/Scripts/transporttarifftype/index.js"></script>
<script src="~/Scripts/transporttarifftype/editform.js"></script>
<script src="~/Scripts/transporttarifftype/validation.js"></script>