@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models


@{
	Layout = null;
}

<h4>Plantilla Liquidación de Fletes</h4>

@{
	ViewData["Model"] = new AccountingFreightResult
	{

	};
	Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_AccountingFreightFilterFormPartial");
}

<div id="results">

</div>
<script src="~/Scripts/accountingFreight/index.js"></script>