<style>
	.dropZoneExternal {
		position: relative;
		border: 1px dashed #f17f21;
		cursor: pointer;
	}

		.dropZoneExternal div {
			top: 0;
			padding: 60px 25px;
			position: absolute;
		}

		.dropZoneExternal, .dropZoneExternal div {
			width: 100%;
			max-width: 350px;
			min-width: 275px;
			height: 200px;
		}

	.dragZoneText, .dropZoneText {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		font-size: 16pt;
		width: 100%;
		max-width: 340px;
		height: 80px;
	}

	.dragZoneText {
		color: #808080;
	}

	.dropZoneText {
		color: #fff;
		background-color: #888;
	}
</style>
<div id="SubcostCenterFileExternalDropZone" class="dropZoneExternal">
	<div id="subcostCenterFileDragZone">
		<span class="dragZoneText">Arrastre un archivo de Excel con datos</span>
	</div>
	<div id="subcostCenterFileDropZone" style="display:none;">
		<span class="dropZoneText">Suelte el archivo de Excel con datos</span>
	</div>
</div>