
<h4>Editar Presentación</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_PresentationMainFormPartial")
    </div>
}

<script src="~/Scripts/ItemPresentation/_PresentationEditFormPartial.js"></script>
<script src="~/Scripts/ItemPresentation/validations.js"></script>