@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
<h4>Presentación</h4>

@{
    ViewData["Model"] = new Presentation();
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_PresentationFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/ItemPresentation/index.js"></script>



