
<div style="width: 100%;">

    <div class="vertical-divider"></div>
        <div class="btn-group" style="width: 20%;">
            <button type="button" class="btn-default dropdown-toggle custom-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="~/Content/image/print_preview.png" alt="" style="margin-right: 4px;" id="PrintReports"><span>Imprime Reportes</span><span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="javascript:;" onclick="KardexReport();">Kardex</a></li>
                <li><a href="javascript:;" onclick="BalanceReport();">Saldo</a></li>
                <li><a href="javascript:;" onclick="InventoryMoveReport();">Movimiento</a></li>
            </ul>
        </div>
    <div class="vertical-divider"></div>
</div>
<hr style="margin-top: 2px; margin-bottom: 2px;" />
