<h2>Capacidad de Transporte</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("TransportSizePartial");
}

<script src="~/Scripts/transportsize/index.js"></script>
<script src="~/Scripts/transportsize/editform.js"></script>
<script src="~/Scripts/transportsize/validation.js"></script>