
<h4>Editar Liquidación de Flete</h4>
<hr style="margin: 10px 0px;" />

@{
    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtons");

    <div id="mainform">
        @Html.Partial("_LiquidationFreightRiverMainFormPartial")
    </div>
}

<script src="~/Scripts/LiquidationFreightRiver/_LiquidationFreightRiverEditFormPartial.js"></script>
<script src="~/Scripts/LiquidationFreightRiver/validations.js"></script>