@{
	Layout = null;
}
@using DevExpress.Web.Mvc;
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>Acceso - Panaceasoft</title>

	<meta name="description" content="User login page" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<!-- bootstrap & fontawesome -->
	<link rel="stylesheet" href="~/Scripts/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/Scripts/assets/font-awesome/4.2.0/css/font-awesome.min.css" />

	<!-- text fonts -->
	<link rel="stylesheet" href="~/Scripts/assets/fonts/fonts.googleapis.com.css" />

	<!-- ace styles -->
	<link rel="stylesheet" href="~/Scripts/assets/css/ace.min.css" />

	<!--[if lte IE 9]>
		<link rel="stylesheet" href="~/Scripts/assets/css/ace-part2.min.css" />
	<![endif]-->
	<link rel="stylesheet" href="~/Scripts/assets/css/ace-rtl.min.css" />

	<style>
		.table > thead > tr > th, .table > tbody > tr > th,
		.table > tfoot > tr > th, .table > thead > tr > td,
		.table > tbody > tr > td, .table > tfoot > tr > td {
			border: none;
		}
	</style>

	<!--[if lte IE 9]>
	  <link rel="stylesheet" href="~/Scripts/assets/css/ace-ie.min.css" />
	<![endif]-->
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="~/Scripts/assets/js/html5shiv.min.js"></script>
	<script src="~/Scripts/assets/js/respond.min.js"></script>
	<![endif]-->
	<!-- basic scripts -->
	<!--[if !IE]>--><![endif]-->
	<script src="~/Scripts/assets/js/jquery.2.1.1.min.js"></script>

	<!-- <![endif]-->
	<!--[if IE]>
	<script src="~/Scripts/assets/js/jquery.1.11.1.min.js"></script>
	<![endif]-->
	<!--[if !IE]>--><![endif]-->
	<script type="text/javascript">
		window.jQuery || document.write("<script src='~/Scripts/assets/js/jquery.min.js'>" + "<" + "/script>");
	</script>

	<!-- <![endif]-->
	<!--[if IE]>
	<script type="text/javascript">
	 window.jQuery || document.write("<script src='~/Scripts/assets/js/jquery1x.min.js'>"+"<"+"/script>");
	</script>
	<![endif]-->
	<script type="text/javascript">
		if ('ontouchstart' in document.documentElement) document.write("<script src='Scripts/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
	</script>

	@Html.DevExpress().GetStyleSheets(
		//new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
		//new StyleSheet { ExtensionSuite = ExtensionSuite.CardView },
		//new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
		new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker },
		//new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
		//new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit },
		//new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
		//new StyleSheet { ExtensionSuite = ExtensionSuite.VerticalGrid },
		//new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
		new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
		//new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
		//new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
		//new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
		//new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
		//new StyleSheet { ExtensionSuite = ExtensionSuite.DashboardDesigner },
		//new StyleSheet { ExtensionSuite = ExtensionSuite.DashboardViewer },
		new StyleSheet { ExtensionSuite = ExtensionSuite.Icons }
	)

	@Html.DevExpress().GetScripts(
		//new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
		//new Script { ExtensionSuite = ExtensionSuite.CardView },
		//new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
		new Script { ExtensionSuite = ExtensionSuite.SpellChecker },
		//new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
		//new Script { ExtensionSuite = ExtensionSuite.RichEdit },
		//new Script { ExtensionSuite = ExtensionSuite.Editors },
		//new Script { ExtensionSuite = ExtensionSuite.VerticalGrid },
		//new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
		new Script { ExtensionSuite = ExtensionSuite.Scheduler }
		//new Script { ExtensionSuite = ExtensionSuite.Chart },
		//new Script { ExtensionSuite = ExtensionSuite.Report },
		//new Script { ExtensionSuite = ExtensionSuite.GridView },
		//new Script { ExtensionSuite = ExtensionSuite.TreeList },
		//new Script { ExtensionSuite = ExtensionSuite.DashboardDesigner },
		//new Script { ExtensionSuite = ExtensionSuite.DashboardViewer }
	)

</head>

<body class="login-layout light-login">
	<div class="main-container">
		<div id="maincontent" class="main-content">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="login-container">
						<div class="center">
							<h1>
								@*<i class="ace-icon fa fa-leaf fa-2x orange"></i>*@
								<img src="~/Content/image/panacea-logo.png" /><br />
								<span class="orange">Panaceasoft</span>
								@*<span class="white" id="id-text2">Producci&oacute;n</span>*@
							</h1>
							@*<h4 class="blue" id="id-company-text">&copy; Company Name</h4>*@
						</div>

						<div class="space-6"></div>

						<div class="position-relative">
							<div id="login-box" class="login-box visible widget-box no-border">
								<div class="widget-body">
									<div id="mainWidget" class="widget-main">
										<h4 class="header blue lighter bigger">
											@*<i class="ace-icon fa fa-coffee green"></i>*@
											Informaci&oacute;n de Acceso
										</h4>

										<div class="space-6"></div>

										<form>
											<fieldset>
												<label class="block clearfix">
													<span class="block input-icon input-icon-right">
														<input id="username" type="text" class="form-control" placeholder="Username" />
														<i class="ace-icon fa fa-user"></i>
													</span>
												</label>

												<label class="block clearfix">
													<span class="block input-icon input-icon-right">
														<input id="password" type="password" class="form-control" placeholder="Password" />
														<i class="ace-icon fa fa-lock"></i>
													</span>
												</label>

												<div class="space"></div>

												<div id="message" style="width: 100%; display: none;">
													<div id="text" class="alert alert-danger center" style="padding: 5px; width: 100%;"></div>
													<div class="space"></div>
												</div>

												<div class="clearfix">
													<label class="inline">
														<input id="rememberMe" type="checkbox" class="ace" />
														<span class="lbl"> Remember Me</span>
													</label>

													<button id="btn_login" type="button" class="width-35 pull-right btn btn-sm btn-primary">
														<i class="ace-icon fa fa-key"></i>
														<span class="bigger-110">Login</span>
													</button>
												</div>

												<div class="space-4"></div>
											</fieldset>
										</form>

										<hr style="margin-bottom: 2px;" />
										<div class="center">
											@*<button type="button" id="btnSetupWizard" class="btn btn-link">Solicitar Registro</button>*@
										</div>
									</div><!-- /.widget-main -->
								</div><!-- /.widget-body -->
							</div><!-- /.login-box -->
							<br />
							@{
								var lastYear = DateTime.Now.Year - 1;
								var currentYear = DateTime.Now.Year;
								var lastCurrentYear = String.Concat(lastYear, " - ", currentYear);
							}
							<div class="center" style="font-size:13px;line-height:1.5">
								<span class="bolder">Sistema de Producción</span>
								- @DXPANACEASOFT.Helper.ApplicationVersionInfo.GetApplicationVersionInfo()
							</div>
							<div class="center" style="font-size:13px;line-height:1.5">
								<span class="bolder" style="color: #ff8800;">Panaceasoft</span>
								-  &copy; @lastCurrentYear
							</div>
						</div><!-- /.position-relative -->
					</div>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.main-content -->
	</div><!-- /.main-container -->

	@Html.DevExpress().LoadingPanel(
		settings =>
		{
			settings.Name = "LoadingPanel";
			settings.Modal = true;
			settings.ContainerElementID = "mainWidget";
		}
	).GetHtml()

	<!-- inline scripts related to this page -->
	<script src="~/Scripts/shared/md5.min.js"></script>
	<script src="~/Content/plugins/jquery-fullscreen/jquery.fullscreen-min.js"></script>
	<script src="~/Scripts/login/index.js"></script>
</body>
</html>

