
@using DXPANACEASOFT.Models
@model DXPANACEASOFT.Models.SalesRequest

<h4>Editar Requerimiento de Pedido</h4>
<hr style="margin: 10px 0px;" />

@{
    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtons");

    <div id="mainform">
        @Html.Partial("_SalesRequestMainFormPartial")
    </div>
}

<script src="~/Scripts/salesrequest/_salesRequestEditFormPartial.js"></script>
<script src="~/Scripts/salesrequest/validation.js"></script>
