
<h2>Costos de Producción</h2>

@Html.Partial("_ProductionCostTableButtom")

@using (Html.BeginForm())
{
	@Html.Action("ProductionCostPartial")
}

<script src="~/Scripts/productioncost/index.js"></script>
<script src="~/Scripts/productioncost/editform.js"></script>
<script src="~/Scripts/productioncost/validation.js"></script>