<h2>Grupos/Subgrupos de Productos</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("ItemGroupsPartial");
}

<script src="~/Scripts/itemgroup/index.js"></script>
<script src="~/Scripts/itemgroup/editform.js"></script>
<script src="~/Scripts/itemgroup/validation.js"></script>