
@{
    Layout = null;
}

<h2>Stakeholder</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@{
    Html.RenderAction("PersonsPartial");
}

<script src="~/Scripts/person/index.js"></script>
<script src="~/Scripts/person/validation.js"></script>
<script src="~/Scripts/shared/ps.genericfunctions.js"></script>