<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>pspp.panaceasoft.ec:5800</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>pspp.panaceasoft.ec</MSDeployServiceURL>
    <DeployIisAppPath>pspp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrador</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=(local);Initial Catalog=panaceasoft;Persist Security Info=True;User ID=sa;Password=P@n@Admin" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DXPANACEASOFT.Models.DBContext, DXPANACEASOFT" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DXPANACEASOFT.Properties.Settings.Dashboard" Order="2" Enabled="False">
          <Destination Path="Data Source=(local);Initial Catalog=panaceasoft;Persist Security Info=True;User ID=sa;Password=P@n@Admin" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(local);Initial Catalog=panaceasoft;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DXPANACEASOFT.Properties.Settings.Dashboard_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(local);Initial Catalog=panaceasoft;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=(local);Initial Catalog=panaceasoft;Persist Security Info=True;User ID=sa;Password=P@n@Admin"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DXPANACEASOFT.Properties.Settings.Dashboard-Web.config Connection String">
      <ParameterValue>Data Source=(local);Initial Catalog=panaceasoft;Persist Security Info=True;User ID=sa;Password=P@n@Admin</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>