@model string

<div id="GridMessageErrorIM" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrorIM";
           settings.Properties.ClientInstanceName = "gridMessageErrorIM";
           settings.Properties.ClientSideEvents.Init = "OnErrorMessageInit";
           settings.Text = this.Model;
       }).GetHtml()
</div>

