@model string

<div id="GridMessage" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessage";
           settings.Properties.ClientInstanceName = "gridMessage";
           settings.Properties.ClientSideEvents.Init = "OnMessageInit";
           settings.Text = this.Model;
       }).GetHtml()
</div>

