
<h4>Editar Movimiento de Inventario</h4>
<hr style="margin: 10px 0px;"/>

@{
    Html.RenderPartial("_InventoryMoveEditToolbarPartial");

    <div id="mainform">
        @Html.Partial("_InventoryMoveMainFormPartial")
    </div>
}

<script src="~/Scripts/inventorymove/_inventoryMoveEditFormPartial.js"></script>
<script src="~/Scripts/inventorymove/validations.js"></script>