@model List<DXPANACEASOFT.Models.InventoryMoveDTO.InventoryMoveDTO>
<div id="GridMessageInventorys" style="display: none;">
	@Html.DevExpress().Label(settings =>
	   {
		   settings.Name = "GridMessageInventorys";
		   settings.Properties.ClientInstanceName = "GridMessageInventorys";
		   settings.Text = "";
	   }).GetHtml()
</div>
@{
    //Html.RenderPartial("DocumentTemplates/_DocumentGridViewActionsButtons");    
    Html.RenderPartial("_InventoryMovesPartial", Model);
}

<script src="~/Scripts/inventorymove/_inventoryResults.js"></script>