@{
    Layout = null;
}


<h2>Motivo de Orden de Producción</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("OrderReasonPartial");
}

<script src="~/Scripts/orderReason/index.js"></script>
<script src="~/Scripts/orderReason/editform.js"></script>
<script src="~/Scripts/orderReason/validation.js"></script>