@using CostoContenedorCustomModel = DXPANACEASOFT.Controllers.CostPerContainerController.CostoContenedorCustomModel;
@{ 
	var detalles = (CostoContenedorCustomModel[])this.ViewBag.CostPerContenedorInvoiceDetail;
}
<div id="datosDetallesEditForm">
	<hr style="width: 100%;">
	<div id="detallesEjecucion" style="width: 100%;">
		@using (Html.BeginForm())
		{
			@Html.Partial("_EditDetailsPartial", detalles)
		}
	</div>
</div>
