<h4>Registrar Salida de Veh&iacute;culos de Terceros</h4>
<hr style="margin: 10px 0px;" />
@{
    TempData.Keep("remissionGuideForControlVehicleExitThird");
    <div id="mainform">
        @Html.Partial("_RemissionGuideControlVehicleExitThirdMainFormPartial")
    </div>
}
<script src="~/Scripts/remissionguidecontrolvehicleexitthird/_remissionGuideControlVehicleEditFormPartial.js"></script>
<script src="~/Scripts/remissionguidecontrolvehicleexitthird/validation.js"></script>
