@using System.Drawing
@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models
@using RemissionGuideSalidaTerceroDTO = DXPANACEASOFT.Controllers.RemissionGuideControlVehicleExitThirdController.RemissionGuideSalidaTerceroDTO;

@{
	string labelPup = DataProviderSetting.ValueSetting("EUPPPRIM");

}
@{
	var grid = Html.DevExpress().GridView<RemissionGuideSalidaTerceroDTO>(settings =>
	{
		settings.Name = "gvRemisssionGuideControlVehicleExitThird";
		settings.CallbackRouteValues = new { Controller = "RemissionGuideControlVehicleExitThird", Action = "RemissionGuidePartialExitThird" };

		settings.Width = Unit.Percentage(100);

		settings.SettingsSearchPanel.Visible = true;
		settings.Styles.SearchPanel.CssClass = "searchPanel";

		settings.CommandColumn.Visible = true;
		settings.SettingsBehavior.ConfirmDelete = true;

		settings.CommandColumn.ShowSelectCheckbox = true;
		settings.CommandColumn.SelectAllCheckboxMode = GridViewSelectAllCheckBoxMode.Page;
		settings.CommandColumn.Width = Unit.Percentage(3);

		settings.KeyFieldName = "id";

		settings.SettingsPager.Visible = true;
		settings.Settings.ShowGroupPanel = true;
		settings.Settings.ShowFilterRow = true;
		settings.SettingsBehavior.AllowSelectByRowClick = true;
		settings.Settings.ShowFooter = true;
		settings.Settings.ShowFilterRowMenu = true;

		settings.Settings.ShowTitlePanel = true;
		settings.Styles.TitlePanel.CssClass = "titleContainer";

		settings.Settings.ShowFooter = true;

		settings.ClientSideEvents.Init = "OnGridViewInit";
		settings.ClientSideEvents.SelectionChanged = "OnGridViewSelectionChanged";
		settings.ClientSideEvents.EndCallback = "OnGridViewEndCallback";

		settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.Off;
		settings.SettingsAdaptivity.AdaptiveColumnPosition = GridViewAdaptiveColumnPosition.Right;
		settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;
		settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = false;
		settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 0;

		settings.SetTitlePanelTemplateContent(c =>
		{
			ViewContext.Writer.Write(@"<span id=""lblTitle"">Listado de Guias de Remisión de Terceros que tienen Salida de Planta</span>");
		});

		settings.SetFooterRowTemplateContent(c =>
		{
			ViewContext.Writer.Write(@"<span id=""lblInfo""></span>");

		});

		//MASTER DETAILS
		settings.SettingsDetail.AllowOnlyOneMasterRowExpanded = true;
		settings.SettingsDetail.ShowDetailRow = false;

		settings.Styles.Header.BackColor = Color.FromArgb(255, 255, 191, 102);
		settings.Styles.Header.Font.Bold = true;

		//Document
		settings.Columns.Add(m => m.Numero, column =>
		{
			column.Caption = "Número";
			column.ColumnType = MVCxGridViewColumnType.TextBox;
			column.Width = Unit.Percentage(8);
		});
		//Proceso
		settings.Columns.Add(m => m.Proceso, column =>
		{
			column.Caption = "Proceso";
			column.ColumnType = MVCxGridViewColumnType.TextBox;
			column.Width = Unit.Percentage(8);
		});
		//guia_externa
		settings.Columns.Add(m => m.GuiaExterna, column =>
		{
			column.Caption = "Guía Externa";
			column.ColumnType = MVCxGridViewColumnType.TextBox;
			column.Width = Unit.Percentage(8);
		});
		//State
		settings.Columns.Add(m => m.Estado, column =>
		{
			column.Caption = "Estado";
			column.ColumnType = MVCxGridViewColumnType.TextBox;
			column.Width = Unit.Percentage(8);
		});
		settings.Columns.Add(m => m.Proveedor, column =>
		{
			column.Name = "proveedor";
			column.Caption = "Proveedor";
			column.ColumnType = MVCxGridViewColumnType.TextBox;

		});
		settings.Columns.Add(m => m.UnidadProduccion, column =>
		{
			column.Name = "productionUnitProvider";
			column.Caption = labelPup != "" ? labelPup : "Unidad de Producción";
			column.ColumnType = MVCxGridViewColumnType.TextBox;
		});
		settings.Columns.Add(m => m.Zona, column =>
		{
			column.Name = "FishingZone";
			column.Caption = "Zona";
			column.ColumnType = MVCxGridViewColumnType.TextBox;
		});
		settings.Columns.Add(m => m.Sitio, column =>
		{
			column.Name = "FishingSite";
			column.Caption = "Sitio";
			column.ColumnType = MVCxGridViewColumnType.TextBox;
		});

		settings.Columns.Add(m => m.Chofer, column =>
		{
			column.Name = "driverName";
			column.Caption = "Chofer";
			column.ColumnType = MVCxGridViewColumnType.TextBox;
		});
		settings.Columns.Add(m => m.Placa, column =>
		{
			column.Name = "carRegistration";
			column.Caption = "Placa";
			column.ColumnType = MVCxGridViewColumnType.TextBox;
		});

		settings.Columns.Add(m => m.FechaEntrada, column =>
		{
			column.Name = "entranceDateProductionBuilding";
			column.Caption = "Fecha de Entrada";
			column.ColumnType = MVCxGridViewColumnType.DateEdit;
			column.Width = Unit.Percentage(8);
			((DateEditProperties)column.PropertiesEdit).DisplayFormatString = "dd/MM/yyyy";
			((DateEditProperties)column.PropertiesEdit).EditFormatString = "dd/MM/yyyy";
		});

		settings.Columns.Add(m => m.HoraEntrada, column =>
		{
			column.Name = "entranceTimeProductionBuilding";
			column.Caption = "Hora de Entrada";
			column.ColumnType = MVCxGridViewColumnType.TextBox;
			column.Width = Unit.Percentage(5);


		});
		settings.Columns.Add(m => m.FechaSalida, column =>
		{
			column.Name = "exitDateProductionBuilding";
			column.Caption = "Fecha de Salida";
			column.ColumnType = MVCxGridViewColumnType.DateEdit;
			((DateEditProperties)column.PropertiesEdit).DisplayFormatString = "dd/MM/yyyy";
			((DateEditProperties)column.PropertiesEdit).EditFormatString = "dd/MM/yyyy";
			column.Width = Unit.Percentage(8);
		});

		settings.Columns.Add(m => m.HoraSalida, column =>
		{
			column.Name = "exitTimeProductionBuilding";
			column.Caption = "Hora de Salida";
			column.ColumnType = MVCxGridViewColumnType.TextBox;
			column.Width = Unit.Percentage(5);

		});

		settings.Columns.Add(m => m.UsuarioCreacion, column =>
		{
			column.Name = "UsuarioCreacion";
			column.Caption = "Usuario Creación";
			column.ColumnType = MVCxGridViewColumnType.TextBox;
		});

		settings.Columns.Add(m => m.FechaCreacion, column =>
		{
			column.Name = "fechaCreacion";
			column.Caption = "Fecha de Creación";
			column.ColumnType = MVCxGridViewColumnType.DateEdit;
			column.Width = Unit.Percentage(8);
			column.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy HH:mm";
		});

		settings.Columns.Add(m => m.UsuarioModificacion, column =>
		{
			column.Name = "UsuarioModificación";
			column.Caption = "Usuario Modificación";
			column.ColumnType = MVCxGridViewColumnType.TextBox;
		});

		settings.Columns.Add(m => m.FechaModificacion, column =>
		{
			column.Name = "fechaModificacion";
			column.Caption = "Fecha de Modificación";
			column.ColumnType = MVCxGridViewColumnType.DateEdit;
			column.Width = Unit.Percentage(8);
			column.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy HH:mm";
		});

		// COMMAND COLUMN

		MVCxGridViewCommandColumn commandColumn = new MVCxGridViewCommandColumn();
		commandColumn.ShowEditButton = false;
		commandColumn.ShowDeleteButton = false;
		commandColumn.Visible = true;
		commandColumn.VisibleIndex = 19;
		commandColumn.Caption = "Acciones";
		commandColumn.Width = Unit.Percentage(3);

		commandColumn.CustomButtons.Add(
			new GridViewCommandColumnCustomButton
			{
				ID = "btnEditRow",
				Text = "Editar"
			}
		);
		settings.ClientSideEvents.CustomButtonClick = "GridViewRemissionGuideControlVehicleExitThirdCustomCommandButton_Click";
		settings.Columns.Add(commandColumn);

	});
	if (ViewData["EditError"] != null)
	{
		grid.SetEditErrorText((string)ViewData["EditError"]);
	}
}
@grid.Bind(Model).GetHtml()

@functions {
	String GetUserName(int id)
	{
		var user = DataProviderUser.UserById(id);
		return user.username;
	}
}


