<h2>Tipos de Vehículos</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("VehicleTypePartial");
}

<script src="~/Scripts/vehicletype/index.js"></script>
<script src="~/Scripts/vehicletype/editform.js"></script>
<script src="~/Scripts/vehicletype/validation.js"></script>