@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@model DXPANACEASOFT.Models.Customer



<table class="table table-condensed" style="margin: 0px;">
    <tr>
        <td width="100%" class="ps-bar-collapse" dtx="pscs-infcobr">
            <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Inf. Cobranzas</span>
            <span class="arrow fa fa-angle-down ps_floatrt"> </span>
        </td>
    </tr>
    <tr class="pscs-infcobr">
        <td>
            @{
                CustomerCreditInfo customerCreditInfo = Model.CustomerCreditInfo ?? new CustomerCreditInfo();
                Html.RenderPartial("_FormEditCustomerCreditInfo", customerCreditInfo);
            }
        </td>
    </tr>
    @*<tr style="border-bottom: 1px Solid #C0C0C0;">
        <td width="100%" class="ps-bar-collapse" dtx="psdb-elistprice">
            <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Lista de Precio</span>
            <span class="arrow fa fa-angle-down ps_floatrt"> </span>
        </td>
    </tr>
    <tr class="psdb-elistprice">
        <td>
            @{
                List<CustomerPriceList> customerPriceList = Model.CustomerPriceList.ToList() ?? new List<CustomerPriceList>();
                Html.RenderPartial("_FormEditCustomePriceList", customerPriceList);
            }
        </td>
    </tr>*@
</table>
