@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@model List<DXPANACEASOFT.Models.FrameworkContract>

@{
//var code_identification = (Model != null && Model.Provider != null && Model.Provider.Person != null && Model.Provider.Person.id_identificationType != 0) ? Model.Provider.Person.IdentificationType.codeSRI : "";
//string codeState = (Model != null && Model.Document.DocumentState.code != "") ? Model.Document.DocumentState.code : "";
}

<table class="table table-condensed" style="margin: 0px;">
    @*@Html.Hidden("code_purchaseReason", code_purchaseReason)*@
    <tr style="border-bottom: 1px Solid #C0C0C0;">
        <td  class="ps-bar-collapse" dtx="ps-contr-contratomarc">
            <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Contratos Marcos</span>
            <span class="arrow fa fa-angle-down ps_floatrt"> </span>
        </td>
    </tr>
    <tr class="ps-contr-contratomarc">
        <td>
           @{
               Html.RenderPartial("_FormEditFrameworkContract", Model);
            }
        </td>
    </tr>
</table>

