
@{
    Layout = null;
}
<h2>Tipo de control de inventario</h2>

@Html.Partial("TableButtonTemplates/TableButtons")



@using (Html.BeginForm())
{
    Html.RenderAction("InventoryControlTypePartial");
}

<script src="~/Scripts/inventorycontroltype/index.js"></script>
<script src="~/Scripts/inventorycontroltype/editform.js"></script>
<script src="~/Scripts/inventorycontroltype/validation.js"></script>


