@model IEnumerable<DXPANACEASOFT.Models.SettingNotification>

@{
    Layout = null;
}

<head>
    <h3>Configuración de Notificaciones</h3>
</head>
<body>

    @{
        Html.RenderPartial("PanelButtons");
    }

    @using (Html.BeginForm())
    {
        @Html.Partial("_GridView", Model)
    }

    <script src="~/Scripts/setting_notification/index.js"></script>
</body>

