@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

<h4>Kardex</h4>

@{
    ViewData["Model"] = new InventoryMove();
    
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_BalancesFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/balances/index.js"></script>

