
@{
    Layout = null;
}

<h2>Unidad de Producción</h2>

@Html.Partial("TableButtonTemplates/TableButtons")


@using (Html.BeginForm()) {
    Html.RenderAction("ProductionUnitPartial");
}


<script src="~/Scripts/productionunit/index.js"></script>
<script src="~/Scripts/productionunit/editform.js"></script>
<script src="~/Scripts/productionunit/validation.js"></script>
