

COMUNES/AccesoDatos/obj/
COMUNES/AccesoDatos/bin/
COMUNES/EntidadesAuxiliares/bin/
COMUNES/Utilitarios/bin/
PRODUCCION/DXPANACEASOFT/bin/
PRODUCCION/DXPANACEASOFT/obj/
PRODUCCION/.vs/


# Visual Studio 2015/2017 cache/options directory
.vs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.idea
*.tye
*.env
.env
*.pem

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.csproj.*.cache


COMUNES/AccesoDatos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
COMUNES/AccesoDatos/obj/Debug/AccesoDatos.csproj.AssemblyReference.cache
COMUNES/AccesoDatos/obj/Debug/AccesoDatos.csproj.AssemblyReference.cache
COMUNES/AccesoDatos/obj/Debug/AccesoDatos.csproj.AssemblyReference.cache
