
@using DXPANACEASOFT.Models
@model DXPANACEASOFT.Models.SalesQuotation

<h4>Editar Cotizaci&oacute;n de Venta</h4>
<hr style="margin: 10px 0px;" />

@{
    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtons");

    <div id="mainform">
        @Html.Partial("_SalesQuotationMainEditForm")
    </div>
}

<script src="~/Scripts/salesquotation/_salesQuotationEditFormPartial.js"></script>
<script src="~/Scripts/salesquotation/validation.js"></script>