@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models
@{
    Layout = null;
}

<h4>Cotizaciones</h4>

@{
    ViewData["Model"] = new DXPANACEASOFT.Models.SalesQuotation
    {
        Document = new Document
        {
            DocumentType = null//DataProviderDocumentType.DocumentTypeByCode("09")
        }
    };
     Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_SalesQuotationsFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/salesquotation/index.js"></script>
































































































































