
<h4>Editar Factura Comercial</h4>
<hr style="margin: 10px 0px;" />

@{

    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtonsInvoiceCommercial");

    

    <div id="mainform">
        @Html.Partial("_InvoiceCommercialEditFormPartial")
    </div>
}

<script src="~/Scripts/invoicecommercial/_invoiceCommercialEditFormPartial.js"></script>
<script src="~/Scripts/invoicecommercial/validations.js"></script>
<script src="~/Scripts/shared/ps.genericfunctions.js"></script>

