
@model List<DXPANACEASOFT.Models.InvoiceCommercialDocument>

<table class="table table-condensed" style="margin: 0px;">
	<tr>
		<td>
			@{
				Html.RenderPartial("DetailsButtonTemplates/_DetailsButtonsInvoiceCommercialAttachedDocument");
				Html.RenderPartial("_InvoiceCommercialAttachedDocumentsEditPartial");
			}
		</td>
	</tr>
</table>