
@{
    Layout = null;
}

<h4>Factura Comercial</h4>

@{
    ViewData["Model"] = new DXPANACEASOFT.Models.InvoiceCommercial();
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_InvoiceCommercialFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/invoicecommercial/index.js"></script>
