
<h4>Editar Periodo</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_InventoryPeriodCloseMainFormPartial")
    </div>
}

<script src="~/Scripts/InventoryPeriodClose/_InventoryPeriodCloseEditFormPartial.js"></script>
<script src="~/Scripts/InventoryPeriodClose/validations.js"></script>