@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
<h4>Cierre Periodo Inventario</h4>

@{
    ViewData["Model"] = new InventoryPeriod();
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_InventoryPeriodCloseFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/InventoryPeriodClose/index.js"></script>



