@model List<DXPANACEASOFT.Models.DTOModel.PenalityClassShrimpDTO>

@{
    Layout = null;
}

<h3>Gestionar Penalidad de Clases</h3>

@Html.Partial("PanelButtonsIndex")

@Html.Partial("_GridViewPenality", Model)

<script src="~/Scripts/penality_class_shrimp/index.js"></script>