@using DXPANACEASOFT.Models

<div id="GridMessageError" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageError";
           settings.Properties.ClientInstanceName = "gridMessageError";
           settings.Text = "";
       }).GetHtml()
</div>

@{
    Html.RenderPartial("DocumentTemplates/_DocumentDetailsActionsButtons");
    @Html.Action("PurchaseRequestDetails");
}