@using DXPANACEASOFT.Models
@model DXPANACEASOFT.Models.PurchaseRequest

<h4>Editar Requerimiento de Compra</h4>
<hr style="margin: 10px 0px;" />

@{
    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtons");
    
    <div id="mainform">
        @Html.Partial("_PurchaseRequestMainFormPartial")
    </div>
}

<script src="~/Scripts/purchaserequest/_purchaseRequestEditFormPartial.js"></script>
<script src="~/Scripts/purchaserequest/validations.js"></script>