<h2>Sitios de Cosecha</h2>

@Html.Partial("TableButtonTemplates/TableButtons")


@using (Html.BeginForm())
{
    Html.RenderAction("FishingSitePartial");
}


<script src="~/Scripts/fishingsite/index.js"></script>
<script src="~/Scripts/fishingsite/editform.js"></script>
<script src="~/Scripts/fishingsite/validation.js"></script>
