
<h2>Permisos</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@{
    Html.RenderAction("PermissionsPartial");
}

<script src="~/Scripts/permission/index.js"></script>
<script src="~/Scripts/permission/editform.js"></script>
<script src="~/Scripts/permission/validation.js"></script>