
<div style="width: 100%;">

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnNewGrid";
        settings.ToolTip = "Nuevo";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.ActionsAdditem16x16office2013;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "OIntegrationProcess.AddNewLote";
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnCopy";
        settings.ToolTip = "Copiar";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.EditCopy16x16office2013;
        settings.ClientEnabled = false;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        //settings.ClientSideEvents.Click = "CopyDocument";
    }).GetHtml()

    <div class="vertical-divider"></div>
     

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnCancel";
        settings.ToolTip = "Anular";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.ActionsDeletelist16x16office2013;
        //settings.Images.Image.Url = "~/Content/image/Action_Deny.png";
        settings.ClientEnabled = false;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
       // settings.ClientSideEvents.Click = "CancelDocuments";
    }).GetHtml()

     

    <div class="vertical-divider"></div>

    @Html.DevExpress().Button(settings =>
    {

        settings.Name = "btnPrint";
        settings.ToolTip = "Imprimir";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.ActionsPrint16x16devav;
        settings.ClientEnabled = false;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        //settings.ClientSideEvents.Click = "PrintDocument";

    }).GetHtml()

</div>
<hr style="margin-top: 2px; margin-bottom: 2px;" />
