@{
    Layout = null;
}


<h2>Tipos de Clientes</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("CustomerTypePartial");
}

<script src="~/Scripts/customerType/index.js"></script>
<script src="~/Scripts/customerType/editform.js"></script>
<script src="~/Scripts/customerType/validation.js"></script>