<h2>Departamentos</h2>


@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("DepartmentsPartial");
}

<script src="~/Scripts/department/index.js"></script>
<script src="~/Scripts/department/editform.js"></script>
<script src="~/Scripts/department/validation.js"></script>