
<h4>Editar Recepci&oacute;n de Materiales</h4>
<hr style="margin: 10px 0px;" />

@{

    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtons");
    <div id="mainform">
        @Html.Partial("_ReceptionDispatchMaterialsEditFormPartial")
    </div>
}

<script src="~/Scripts/receptiondispatchmaterials/_receptionDispatchMaterialsEditFormPartial.js"></script>
<script src="~/Scripts/receptiondispatchmaterials/validations.js"></script>
