
@{
    Layout = null;
}

<h4>Recepción de Materiales</h4>

@{
    ViewData["Model"] = new DXPANACEASOFT.Models.ReceptionDispatchMaterials();
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_ReceptionDispatchMaterialsFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/receptiondispatchmaterials/index.js"></script>