
@model IEnumerable<DXPANACEASOFT.Models.Notification>

@{
    Layout = null;
}

<head>
    <h3>Mis Notificaciones</h3>
</head>
<body>
    
@{
    Html.RenderPartial("PanelButtons");
}

@using (Html.BeginForm())
{
    @Html.Partial("_GridView", Model)
}

<script src="~/Scripts/notification/index.js"></script>

</body>



