<div style="padding-left: 5px;">
    <table style="width: 100%;">
        <tr>
            <td id="dialogIcon" style="width: 15%;">
                <span class="glyphicon glyphicon-warning-sign warning" style="color: #ff8800; font-size: 30px;"></span>
            </td>
            <td id="dialogMessage" style="text-align: left; vertical-align: middle;">
                <p>Se dispone a borrar el/los registro(s) seleccionado(s).</p>
                <p>¿Está seguro?</p>
            </td>
        </tr>
    </table>
</div>
