<table id="btnPriceList" class="table table-condensed" style="margin: 0px;">
    <tr>
        <td>
            <button type="button" onclick="OnPriceListDetailClick()" class="btn btn-info btn-md">Ver Detalle Lista Precios</button>
        </td>
    </tr>
</table>