<h2>Tarifario de Custodios</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("FishingCustodianPartial");
}

<script src="~/Scripts/fishingcustodian/index.js"></script>
<script src="~/Scripts/fishingcustodian/editform.js"></script>
<script src="~/Scripts/fishingcustodian/validation.js"></script>