
<h4>Editar Lista de Precio</h4>
<hr style="margin: 10px 0px;"/>

@{
    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtons");

    <div id="mainform">
        @Html.Partial("_PriceListMainForm")
    </div>
}

<script src="~/Scripts/pricelist/_priceListEditFrom.js"></script>
<script src="~/Scripts/pricelist/validation.js"></script>