
@{
    Layout = null;
}

<h2>Listas de Precios y Cotizaciones</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@if (ViewData["EditMessage"] != null)
{
    @Html.Raw(ViewData["EditMessage"]);
}

@Html.Action("PriceListPartial")

<script src="~/Scripts/pricelist/index.js"></script>