
<h2>Tipos de Métrica</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("MetricTypesPartial");
}

<script src="~/Scripts/metrictype/index.js"></script>
<script src="~/Scripts/metrictype/editform.js"></script>
<script src="~/Scripts/metrictype/validation.js"></script>
