<h4>Ingresar Estado de Pago</h4>
<hr style="margin: 10px 0px;" />
@{
    TempData.Keep("remissionGuideForInternControl");
    <div id="mainform">
        @Html.Partial("_RemissionGuideInternControlViaticMainFormPartial")
    </div>
}
<script src="~/Scripts/remissionguideinterncontrolviatic/_remissionGuideinterncontrolviaticEditFormPartial.js"></script>
<script src="~/Scripts/remissionguideinterncontrolviatic/validation.js"></script>