
<h2>Gesti&oacute;n de F&oacute;rmulas</h2>
<link rel="stylesheet" href="~/Content/plugins/tribute/tribute.css" />
<script src="~/Content/plugins/tribute/tribute.js"></script>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
	Html.RenderAction("SimpleFormulaPartial");	
}

<script src="~/Scripts/simpleformula/index.js"></script>
<script src="~/Scripts/simpleformula/editform.js"></script>
<script src="~/Scripts/simpleformula/editformTribute.js"></script>
<script src="~/Scripts/simpleformula/validation.js"></script>