
<h4>Editar Términos de Negociación</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_TermsNegotiationMainFormPartial")
    </div>
}

<script src="~/Scripts/TermsNegotiation/_TermsNegotiationEditFormPartial.js"></script>
<script src="~/Scripts/TermsNegotiation/validations.js"></script>