@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
@Html.Partial("TableButtonTemplates/TableButtons")
<h4>Términos de Negociación</h4>


@using (Html.BeginForm())
{

    Html.RenderAction("TermsNegotiationPartial");
}
<div id="results">

</div>

<script src="~/Scripts/TermsNegotiation/index.js"></script>
<script src="~/Scripts/TermsNegotiation/editform.js"></script>
<script src="~/Scripts/TermsNegotiation/validations.js"></script>



