@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models
@model DXPANACEASOFT.Models.ProductionCart


@{
    ProductionCart country = Model ?? new ProductionCart();
}

@Html.Hidden("id_ProductionCart", country.id)

<table style="width: 100%;">

    <tr>
        <td>
            <strong>
                C&oacute;digo:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(country.code)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Nombre:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(country.name)
        </td>
    </tr>

    
</table>



