
@Html.Partial("TableButtonTemplates/TableButtons")

<h2>Carros de Producción</h2>


@using (Html.BeginForm()){

    Html.RenderAction("ProductionCartPartial");
}

<script src="~/Scripts/ProductionCart/index.js"></script>
<script src="~/Scripts/ProductionCart/validation.js"></script>
<script src="~/Scripts/ProductionCart/editform.js"></script>

