
<h4>Editar Programación de Producción</h4>
<hr style="margin: 10px 0px;" />

@{

    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtons");
    <div id="mainform">
        @Html.Partial("_ProductionScheduleEditFormPartial")
    </div>
}

<script src="~/Scripts/productionSchedule/_productionScheduleEditFormPartial.js"></script>
<script src="~/Scripts/productionSchedule/validations.js"></script>
