
@using DXPANACEASOFT.Models
@model DXPANACEASOFT.Models.ProductionSchedule

<table class="table table-condensed">
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="6">
            @{  
                ViewData["id_productionSchedule"] = (Model != null) ? Model.id : 0;

                Html.DevExpress().PageControl(tabs =>
                {
                    tabs.Name = "tabControl" + ViewData["id_productionSchedule"];
                    tabs.Width = Unit.Percentage(100);
                    tabs.Height = Unit.Pixel(200);

                    tabs.TabPages.Add(tab =>
                    {
                        tab.Name = "tabProductionScheduleRequestsDetails" + ViewData["id_productionSchedule"];
                        tab.Text = "Requerimiento    ";
                        tab.TabStyle.Width = Unit.Percentage(100);
                        tab.SetContent(() =>
                        {
                            Html.RenderPartial("_ProductionScheduleViewMainFormTabProductionScheduleRequestPartial", Model);
                            //var itemsDetail = (Model != null && Model.PurchasePlanningDetail != null) ? Model.PurchasePlanningDetail.ToList() : new List<PurchasePlanningDetail>();
                            //Html.RenderPartial("_PurchasePlanningDetailItemsPartial", itemsDetail);
                        });
                    });
                    tabs.TabPages.Add(tab =>
                    {
                        tab.Name = "tabProductionScheduleSchedulesDetails" + ViewData["id_productionSchedule"];
                        tab.Text = "Planificación    ";
                        tab.TabStyle.Width = Unit.Percentage(100);
                        tab.SetContent(() =>
                        {
                            Html.RenderPartial("_ProductionScheduleViewMainFormTabProductionScheduleSchedulePartial", Model);
                            //var itemsDetail = (Model != null && Model.PurchasePlanningDetail != null) ? Model.PurchasePlanningDetail.ToList() : new List<PurchasePlanningDetail>();
                            //Html.RenderPartial("_PurchasePlanningDetailItemsPartial", itemsDetail);
                        });
                    });
                }).Render();
            }
        </td>
    </tr>
</table>

@*AsEnumerable().OrderByDescending(o=> new { o.datePlanning,provider = o.Provider.Person.fullname_businessName,buyer = o.Person.fullname_businessName})*@