
@{
    Layout = null;
}

<h4>Programaci&oacute;n de Producci&oacute;n</h4>

@{
    ViewData["Model"] = new DXPANACEASOFT.Models.ProductionSchedule();
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_ProductionScheduleFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/productionschedule/index.js"></script>