
@model DXPANACEASOFT.Models.DTOModel.MachineAvailabilityResultConsultDTO

<div>
    <div class="MyContainer" id="divGridViewDetails">
        @Html.Partial("_GridViewDetails", Model.MachineAvailabilityDetails)
    </div>
</div>