@model DXPANACEASOFT.Models.DTOModel.MachineAvailabilityResultConsultDTO

@Html.Hidden("id_machineAvailabilityResultConsult", Model.id)
@Html.Hidden("enabled", ((bool)ViewBag.enabled))
@*@Html.Hidden("id_machineProdOpening", Model.id_machineProdOpening)*@

@Html.DevExpress().PageControl(settings =>
{
    settings.Name = "pcFeatures";
    settings.Width = Unit.Percentage(100);
    settings.Height = Unit.Pixel(400);
    settings.TabPages.Add("Disponibilidad").SetContent(() =>
    {
        ViewContext.Writer.Write(
            "<div id='divTabDetailsEdit'>" +
            @Html.Partial("_TabDetailsEdit", Model)
            + "</div>");
    });
}).GetHtml()

