@model List<DXPANACEASOFT.Models.DTOModel.MachineAvailabilityResultConsultDTO>

@{
    Layout = null;
}

<h4>Disponibilidad de M&aacute;quina</h4>

@Html.Partial("_GridViewIndex", Model)

<script src="~/Scripts/machineavailability/index.js"></script>
