<h4>Importar Marcas</h4>
<hr style="margin: 10px 0px;" />

@{
	<div id="notification"></div>
	<div id="mainform">
		@Html.Partial("_ItemTrademarkImportViewPartial")
	</div>
	<div id="download-area"></div>
}

@*<script src="~/Scripts/StateOfContry/index.js"></script>*@

