
<h2>Marcas de Productos</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("ItemTrademarksPartial");
}
<div id="download-area"></div>
<script src="~/Scripts/itemtrademark/index.js"></script>
<script src="~/Scripts/itemtrademark/editform.js"></script>
<script src="~/Scripts/itemtrademark/validation.js"></script>
