
<h2>Tarifas</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("RatesPartial");
}

<script src="~/Scripts/rate/index.js"></script>
<script src="~/Scripts/rate/editform.js"></script>
<script src="~/Scripts/rate/validation.js"></script>