
<h4>Editar Tumbar Placa</h4>
<hr style="margin: 10px 0px;" />

@{

    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtons");
    <div id="mainform">
        @Html.Partial("_OpeningClosingPlateLyingEditFormPartial")
    </div>
}

<script src="~/Scripts/openingclosingplatelying/_openingClosingPlateLyingEditFormPartial.js"></script>
<script src="~/Scripts/openingclosingplatelying/validations.js"></script>
