
<h4>Editar Ciudad</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_CityMainFormPartial")
    </div>
}

<script src="~/Scripts/City/_CityEditFormPartial.js"></script>
<script src="~/Scripts/City/validations.js"></script>