@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
<h4>Ciudad</h4>

@{
    ViewData["Model"] = new City();
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_CityFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/City/index.js"></script>



