<h2>Asignación de Permisos a Bodegas</h2>

@Html.Partial("_WarehouseUserPermitTableButtom")

@using (Html.BeginForm())
{
	Html.RenderAction("WarehouseUserPermitPartial");
}

<script src="~/Scripts/warehouseUserPermit/index.js"></script>
<script src="~/Scripts/warehouseUserPermit/editform.js"></script>
<script src="~/Scripts/warehouseUserPermit/validation.js"></script>