@model List<DXPANACEASOFT.Models.DTOModel.GroupPersonByRolDTO>

@{
    Layout = null;
}

<h3>Gestionar grupos de personas según el rol</h3>

@Html.Partial("PanelButtonsIndex")

@Html.Partial("_GridViewGroupPersonByRol", Model)

<script src="~/Scripts/group_person_by_rol/index.js"></script>