<h2>Zonas de Cosecha</h2>

@Html.Partial("TableButtonTemplates/TableButtons")


@using (Html.BeginForm())
{
    Html.RenderAction("FishingZonePartial");
}


<script src="~/Scripts/fishingzone/index.js"></script>
<script src="~/Scripts/fishingzone/editform.js"></script>
<script src="~/Scripts/fishingzone/validation.js"></script>
