
<h4>Editar PLAZOS DE PAGO</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_PaymentTermMainFormPartial")
    </div>
}

<script src="~/Scripts/PaymentTerm/_PaymentTermEditFormPartial.js"></script>
<script src="~/Scripts/PaymentTerm/validations.js"></script>