@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
@Html.Partial("TableButtonTemplates/TableButtons")
<h4>PLAZOS DE PAGO</h4>


@using (Html.BeginForm())
{

    Html.RenderAction("PaymentTermPartial");
}
<div id="results">

</div>

<script src="~/Scripts/PaymentTerm/index.js"></script>
<script src="~/Scripts/PaymentTerm/editform.js"></script>
<script src="~/Scripts/PaymentTerm/validations.js"></script>



