
@{
    Layout = null;
}

<h2>Tarifario de Copacking</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

<div  id="_errormsgTT" class="pserr0" style="display:none" ></div>
@{
    Html.RenderAction("CopackingTariffPartial");
}

<script src="~/Scripts/copackingtariff/index.js"></script>
<script src="~/Scripts/copackingtariff/editform.js"></script>
<script src="~/Scripts/copackingtariff/validation.js"></script>
<script src="~/Scripts/shared/ps.genericfunctions.js"></script>