
@{
    Layout = null;
}

<h2>Guía de Remisión por Tipo de Viaje </h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("RemissionGuideTravelTypePartial");
}

<script src="~/Scripts/remissionguidetraveltype/index.js"></script>
<script src="~/Scripts/remissionguidetraveltype/editform.js"></script>
<script src="~/Scripts/remissionguidetraveltype/validation.js"></script>


