@using DXPANACEASOFT.DataProviders
@using System.Collections
@using DXPANACEASOFT.Models.QualityControls;

@model List<QualityControlTallaDto>


@*<script src="~/Scripts/qualityControl/editform.js"></script>*@

@{
	<div class="row">
	
		@using (Html.BeginForm())
		{
			Html.RenderPartial("_QualityControlMainFormTabDetailTallas", Model);
		}
	</div>
    <div class="row" style="text-align: right; padding: 13px 35px 5px 0px; margin-bottom: 20px; margin-right: 20px;">

        @Html.DevExpress().Button(settings =>
        {
            settings.Name = "btnCancelPopupTallasList";
            settings.Text = "Cancelar";
            settings.Images.Image.IconID = IconID.ActionsClose16x16office2013;
            settings.UseSubmitBehavior = false;
            settings.ClientSideEvents.Click = "OnBtnCancelPopupTallasList_Click";
        }).GetHtml()
        
    </div>

}



