<div id="notification"></div>

<h2>Copiar formulación de productos</h2>
@{
	Layout = null;
}
<div id="query-filters">
	@Html.Partial("_ItemFormulationFilterPartial")
</div>
<div id="results"></div>

<script src="~/Scripts/ItemFormulation/index.js"></script>