<table class="table table-condensed" style="border: 0px solid #ffffff;">
    <tr style="border-bottom: 1px Solid #C0C0C0;">
        <td>
            <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Acciones</span>
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().Button(settings =>
                            {
                                settings.Name = "btnSearch";
                                settings.UseSubmitBehavior = false;
                                settings.Text = "Buscar";
                                settings.Images.Image.IconID = IconID.ActionsSearch16x16devav;
                                settings.Width = Unit.Percentage(100);
                                settings.ClientSideEvents.Click = "btnSearch_click";
                            }).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().Button(settings =>
                            {
                                settings.Name = "Clear";
                                settings.UseSubmitBehavior = false;
                                settings.Text = "Limpiar";
                                settings.Images.Image.IconID = IconID.ActionsClear16x16;
                                settings.Width = Unit.Percentage(100);
                                settings.ClientSideEvents.Click = "btnClear_click";
                            }).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
            <div class="btn-group" style="width: 100%;">
                <button type="button" class="btn-default dropdown-toggle custom-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="dxIcon_actions_add_16x16 dx-vam" src="/DXR.axd?r=1_35-2Z17d" alt="" style="margin-right: 4px;" id="AddNewImg"><span>Nueva</span><span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="javascript:;" onclick="AddNewItemManual();">Manual</a></li>
                    @*<li><a href="javascript:;" onclick="AddNewItemFromPurchaseRequest();">Desde Requerimiento</a></li>*@
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().Button(settings =>
            {
                settings.Name = "Replicate";
                settings.UseSubmitBehavior = false;
                settings.Text = "Replica LP Terceros";
                settings.Images.Image.IconID = IconID.ActionsRefresh16x16;
                settings.Width = Unit.Percentage(100);
                settings.ClientSideEvents.Click = "btnRefreshLPThird_click";
            }).GetHtml()
        </td>
    </tr>
</table>
