
<h4>Editar Orden de Compra</h4>
<hr style="margin: 10px 0px;" />

@{
    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtons");

    <div id="mainform">
        @Html.Partial("_PurchaseOrderMainFormPartial")
    </div>
}

<script src="~/Scripts/purchaseorder/_purchaseOrderEditFormPartial.js"></script>
<script src="~/Scripts/purchaseorder/validations.js"></script>