<div class="selectDocumentLot">
	@using DXPANACEASOFT.Models
	@model DXPANACEASOFT.Models.IntegrationProcessDetail


	<h4>Selección de Documentos</h4>

	@{
		ViewData["Model"] = new DXPANACEASOFT.Models.IntegrationProcessDetail();


		Html.RenderPartial("FilterBoxTemplates/_FilterBox", "IntegrationProcessFindDocuments/_IntegrationProcessDocumentFilterFormPartial");
	}

	<div id="results">

	</div>

	<script src="~/Scripts/integrationprocess/indexDocument.js"></script>
</div>
