<div id="GridMessageErrorDetail" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrorDetail";
           settings.Properties.ClientInstanceName = "gridMessageErrorDetail";
           settings.Text = "";
       }).GetHtml()
</div>

