
@model DXPANACEASOFT.Models.DTOModel.InventoryMovePlantTransferDTO

<div>
    @Html.Partial("PanelButtonsDetailEdit")
    <div class="MyContainer" id="divGridViewDetails">
        @Html.Partial("_GridMessageErrorDetail")
        @Html.Partial("_GridViewDetails", Model.InventoryMovePlantTransferDetails)
    </div>
</div>