
<div class="btn-group" style="width: 100%;">
    <button type="button" class="btn-default dropdown-toggle custom-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="dxIcon_actions_add_16x16 dx-vam" src="/DXR.axd?r=1_35-2Z17d" alt="" style="margin-right: 4px;" id="AddNewImg"><span>Nueva</span><span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="javascript:;" onclick="AddNewItemManual();">Manual</a></li>
        <li><a href="javascript:;" onclick="AddNewItemFromSalesRequest();">Desde Requerimiento</a></li>
    </ul>
</div>