
<h4>Editar Orden de Producción</h4>
<hr style="margin: 10px 0px;"/>

@{
    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtons");

    <div id="mainform">
        @Html.Partial("_SalesOrderMainFormPartial")
    </div>
}

<script src="~/Scripts/salesorder/_salesOrderEditFormPartial.js"></script>
<script src="~/Scripts/salesorder/validations.js"></script>