<div id="GridMessageErrorMPMaterialDetail" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrorMPMaterialDetail";
           settings.Properties.ClientInstanceName = "gridMessageErrorMPMaterialDetail";
           settings.Text = "";
       }).GetHtml()
</div>

