@using System.Drawing
@using DevExpress.Data
@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    bool OnlyRead = (ViewData["OnlyRead"] != null) ? (bool)ViewData["OnlyRead"] : false;
}
@{
    var grid = Html.DevExpress().GridView<SalesOrderDetail>(settings =>
    {
        settings.Name = "gvSalesOrderEditFormDetails";
        settings.CallbackRouteValues = new { Controller = "SalesOrder", Action = "SalesOrderDetailsPartial" };

        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "SalesOrder", Action = "SalesOrderDetailsPartialAddNew" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "SalesOrder", Action = "SalesOrderDetailsPartialUpdate" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "SalesOrder", Action = "SalesOrderDetailsPartialDelete" };
        settings.SettingsEditing.Mode = GridViewEditingMode.Inline;

        settings.Width = Unit.Percentage(100);
        settings.CommandColumn.Visible = !OnlyRead;
                settings.CommandColumn.ShowSelectCheckbox = true;
        settings.CommandColumn.SelectAllCheckboxMode = GridViewSelectAllCheckBoxMode.Page;

        settings.Styles.Header.Wrap = DefaultBoolean.True;

        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = false;
        settings.Settings.ShowFilterRow = false;
        settings.SettingsBehavior.AllowSelectByRowClick = true;

        settings.SettingsBehavior.ConfirmDelete = false;

        settings.KeyFieldName = "id";

        //Eventos
        settings.ClientSideEvents.Init = "SalesOrderDetailsOnGridViewInit";
        settings.ClientSideEvents.SelectionChanged = "SalesOrderDetailsOnGridViewSelectionChanged";
        settings.ClientSideEvents.BeginCallback = "SalesOrderDetailsOnGridViewBeginCallback";
        settings.ClientSideEvents.EndCallback = "SalesOrderDetailsOnGridViewEndCallback";


        //Pie de tabla
        settings.Settings.ShowFooter = true;

        //Panel para cantidad de registros
        settings.CustomJSProperties = (s, e) =>
        {
            MVCxGridView gv = s as MVCxGridView;
            if (gv == null) return;

            e.Properties["cpVisibleRowCount"] = gv.VisibleRowCount;
            e.Properties["cpFilteredRowCountWithoutPage"] = GetFilteredRowCountWithoutPage(gv);

            List<SalesOrderDetail> rows = (Model as List<SalesOrderDetail>);
            rows = (rows != null) ? rows.Where(d => d.isActive).ToList() : new List<SalesOrderDetail>();

            e.Properties["cpRowsCount"] = rows.Count;

            e.Properties["cpEditingRowKey"] = (gv.IsEditing && gv.GetRowValues(gv.EditingRowVisibleIndex, "id") != null) ? gv.GetRowValues(gv.EditingRowVisibleIndex, "id") : (0);

            if (gv.IsEditing)
            {
                List<SalesOrderDetailSalesRequest> SalesRequestDetail = null;

                try
                {
                    SalesRequestDetail = (List<SalesOrderDetailSalesRequest>)gv.GetRowValues(gv.EditingRowVisibleIndex, "SalesOrderDetailSalesRequest");
                }
                catch (Exception)
                {
                    try
                    {
                        HashSet<SalesOrderDetailSalesRequest> temp = (HashSet<SalesOrderDetailSalesRequest>)gv.GetRowValues(gv.EditingRowVisibleIndex, "SalesOrderDetailSalesRequest");
                        SalesRequestDetail = temp.ToList();
                    }
                    catch (Exception)
                    {
                        SalesRequestDetail = null;
                    }
                }
                if (SalesRequestDetail != null && SalesRequestDetail.Count > 0)
                {
                    e.Properties["cpEditingRowSalesRequest"] = SalesRequestDetail[0].id_salesRequest;
                }
                else
                {
                    e.Properties["cpEditingRowSalesRequest"] = 0;
                }

                List<ProductionScheduleProductionOrderDetailSalesOrderDetail> ProductionOrderDetail = null;

                try
                {
                    ProductionOrderDetail = (List<ProductionScheduleProductionOrderDetailSalesOrderDetail>)gv.GetRowValues(gv.EditingRowVisibleIndex, "ProductionScheduleProductionOrderDetailSalesOrderDetail");
                }
                catch (Exception)
                {
                    try
                    {
                        HashSet<ProductionScheduleProductionOrderDetailSalesOrderDetail> temp = (HashSet<ProductionScheduleProductionOrderDetailSalesOrderDetail>)gv.GetRowValues(gv.EditingRowVisibleIndex, "ProductionScheduleProductionOrderDetailSalesOrderDetail");
                        ProductionOrderDetail = temp.ToList();
                    }
                    catch (Exception)
                    {
                        ProductionOrderDetail = null;
                    }
                }
                if (ProductionOrderDetail != null && ProductionOrderDetail.Count > 0)
                {
                    e.Properties["cpEditingRowProductionSchedule"] = ProductionOrderDetail[0].id_productionSchedule;
                }
                else
                {
                    e.Properties["cpEditingRowProductionSchedule"] = 0;
                }

            }

        };

        settings.SetFooterRowTemplateContent(c =>
        {
            ViewContext.Writer.Write(@"<span id=""lblInfo""></span>");
            if (settings.CommandColumn.SelectAllCheckboxMode != GridViewSelectAllCheckBoxMode.AllPages)
            {
                ViewContext.Writer.Write(
                    @"<a id=""lnkSelectAllRows"" style=""cursor: pointer;"" onclick=""SalesOrderDetailsSelectAllRows();"">Seleccionar Todos</a>
                      <a id=""lnkClearSelection"" style=""cursor: pointer;"" onclick=""SalesOrderDetailsClearSelection();"">Anular Selección.</a>"
                );
            }
        });

        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.Off;
        settings.SettingsAdaptivity.AdaptiveColumnPosition = GridViewAdaptiveColumnPosition.Right;
        settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = false;
        settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 0;

        settings.SettingsEditing.ShowModelErrorsForEditors = true;

        settings.InitNewRow = (s, e) =>
        {
            e.NewValues["quantityTypeUMSale"] = 0.00M;
            e.NewValues["quantityRequested"] = 0.00M;
            e.NewValues["quantityOrdered"] = 1.00M;
            e.NewValues["quantityApproved"] = 1.00M;
            e.NewValues["quantityDelivered"] = 0.00M;
            e.NewValues["discount"] = 0.00M;
            e.NewValues["price"] = 0.00M;
            e.NewValues["iva"] = 0.00M;
            e.NewValues["subtotal"] = 0.00M;
            e.NewValues["total"] = 0.00M;
        };

        #region Columns

        //id_productionSchedule 5
        settings.Columns.Add(column =>
        {
            column.Name = "id_productionSchedule";
            column.Caption = "No. Prog. Producción";
            column.ReadOnly = true;
            column.UnboundType = UnboundColumnType.String;

            column.Width = Unit.Percentage(5);

            column.SetDataItemTemplateContent(c =>
            {
                List<ProductionScheduleProductionOrderDetailSalesOrderDetail> productionSchedules = null;

                try
                {
                    productionSchedules = (List<ProductionScheduleProductionOrderDetailSalesOrderDetail>)DataBinder.Eval(c.DataItem, "ProductionScheduleProductionOrderDetailSalesOrderDetail");
                }
                catch (Exception)
                {
                    try
                    {
                        HashSet<ProductionScheduleProductionOrderDetailSalesOrderDetail> temp = (HashSet<ProductionScheduleProductionOrderDetailSalesOrderDetail>)DataBinder.Eval(c.DataItem, "ProductionScheduleProductionOrderDetailSalesOrderDetail");
                        productionSchedules = temp.ToList();
                    }
                    catch (Exception)
                    {
                        productionSchedules = null;
                    }
                }


                string text = string.Empty;

                if (productionSchedules != null && productionSchedules.Count > 0)
                {
                    int id_productionSchedule = productionSchedules[0].id_productionSchedule;
                    ProductionSchedule productionSchedule = DataProviderProductionSchedule.ProductionSchedule(id_productionSchedule);

                    text = productionSchedule.Document.number;

                    if (productionSchedules[0].id_productionScheduleProductionOrderDetail == null || productionSchedule.Document.DocumentState.code != "06")//06 AUTORIZADA
                    {
                        text = "<font color='red'>" + text + "</font>";
                    }
                }

                ViewContext.Writer.Write(text);
            });

            column.SetEditItemTemplateContent(c =>
            {
                List<ProductionScheduleProductionOrderDetailSalesOrderDetail> productionSchedules = null;

                try
                {
                    productionSchedules = (List<ProductionScheduleProductionOrderDetailSalesOrderDetail>)DataBinder.Eval(c.DataItem, "ProductionScheduleProductionOrderDetailSalesOrderDetail");
                }
                catch (Exception)
                {
                    try
                    {
                        HashSet<ProductionScheduleProductionOrderDetailSalesOrderDetail> temp = (HashSet<ProductionScheduleProductionOrderDetailSalesOrderDetail>)DataBinder.Eval(c.DataItem, "ProductionScheduleProductionOrderDetailSalesOrderDetail");
                        productionSchedules = temp.ToList();
                    }
                    catch (Exception)
                    {
                        productionSchedules = null;
                    }
                }


                string text = string.Empty;

                if (productionSchedules != null && productionSchedules.Count > 0)
                {
                    int id_productionSchedule = productionSchedules[0].id_productionSchedule;
                    ProductionSchedule productionSchedule = DataProviderProductionSchedule.ProductionSchedule(id_productionSchedule);

                    text = productionSchedule.Document.number;

                    if (productionSchedules[0].id_productionScheduleProductionOrderDetail == null || productionSchedule.Document.DocumentState.code != "06")//06 AUTORIZADA
                    {
                        text = "<font color='red'>" + text + "</font>";
                    }
                }

                ViewContext.Writer.Write(text);
            });
        });
        //id_salesRequest 5
        settings.Columns.Add(column =>
        {
            column.Name = "id_salesRequest";
            column.Caption = "No. Requerimiento";
            column.ReadOnly = true;
            column.UnboundType = UnboundColumnType.String;

            column.Width = Unit.Percentage(5);

            column.SetDataItemTemplateContent(c =>
            {
                List<SalesOrderDetailSalesRequest> salesRequests = null;

                try
                {
                    salesRequests = (List<SalesOrderDetailSalesRequest>)DataBinder.Eval(c.DataItem, "SalesOrderDetailSalesRequest");
                }
                catch (Exception)
                {
                    try
                    {
                        HashSet<SalesOrderDetailSalesRequest> temp = (HashSet<SalesOrderDetailSalesRequest>)DataBinder.Eval(c.DataItem, "SalesOrderDetailSalesRequest");
                        salesRequests = temp.ToList();
                    }
                    catch (Exception)
                    {
                        salesRequests = null;
                    }
                }


                string text = string.Empty;

                if (salesRequests != null && salesRequests.Count > 0)
                {
                    int id_salesRequest = salesRequests[0].id_salesRequest;
                    SalesRequest salesRequest = DataProviderSalesRequest.SalesRequest(id_salesRequest);

                    text = salesRequest.Document.number;

                    if (salesRequests[0].id_salesRequestDetail == null || salesRequest.Document.DocumentState.code != "06")//06 AUTORIZADA
                    {
                        text = "<font color='red'>" + text + "</font>";
                    }
                }

                ViewContext.Writer.Write(text);
            });

            column.SetEditItemTemplateContent(c =>
            {
                List<SalesOrderDetailSalesRequest> salesRequests = null;

                try
                {
                    salesRequests = (List<SalesOrderDetailSalesRequest>)DataBinder.Eval(c.DataItem, "SalesOrderDetailSalesRequest");
                }
                catch (Exception)
                {
                    try
                    {
                        HashSet<SalesOrderDetailSalesRequest> temp = (HashSet<SalesOrderDetailSalesRequest>)DataBinder.Eval(c.DataItem, "SalesOrderDetailSalesRequest");
                        salesRequests = temp.ToList();
                    }
                    catch (Exception)
                    {
                        salesRequests = null;
                    }
                }


                string text = string.Empty;

                if (salesRequests != null && salesRequests.Count > 0)
                {
                    int id_salesRequest = salesRequests[0].id_salesRequest;
                    SalesRequest salesRequest = DataProviderSalesRequest.SalesRequest(id_salesRequest);

                    text = salesRequest.Document.number;

                    if (salesRequests[0].id_salesRequestDetail == null || salesRequest.Document.DocumentState.code != "06")//06 AUTORIZADA
                    {
                        text = "<font color='red'>" + text + "</font>";
                    }
                }

                ViewContext.Writer.Write(text);
            });
        });

        //"masterCode" 5
        settings.Columns.Add(column =>
        {
            column.Caption = "Código";
            column.Width = Unit.Percentage(5);
            column.ReadOnly = true;
            column.ColumnType = MVCxGridViewColumnType.TextBox;
            column.PropertiesEdit.ClientInstanceName = "masterCode";
            //column.PropertiesEdit.va ErrorDisplayMode = ErrorDisplayMode.None;

            column.SetDataItemTemplateContent(c =>
            {
                var id = (int)DataBinder.Eval(c.DataItem, "id_item");
                Item item = DataProviderItem.Item(id);
                if (item != null)
                {
                    var masterCode = item.masterCode;
                    ViewContext.Writer.Write(masterCode);
                }
            });

            column.SetEditItemTemplateContent(c =>
            {
                int? id = (int?)DataBinder.Eval(c.DataItem, "id_item");
                Item item = DataProviderItem.Item(id);

                string masterCode = (item != null) ? item.masterCode : "";

                Html.DevExpress().TextBox(p =>
                {
                    p.Name = "masterCode";
                    p.Properties.ClientInstanceName = "masterCode";

                    p.Width = Unit.Percentage(100);

                    p.ReadOnly = true;
                    p.ShowModelErrors = false;
                }).Bind(masterCode).GetHtml();//.Render();//.Bind(metricUnit).Render();
            });

        });

        //"id_item" 14
        settings.Columns.Add(column =>
        {
            column.FieldName = "id_item";
            column.Name = "id_item";
            column.Caption = "Nombre del Producto";
            column.ColumnType = MVCxGridViewColumnType.ComboBox;
            column.Width = Unit.Percentage(14);

            column.EditorProperties().ComboBox(p =>
            {
                p.ClientInstanceName = "id_item";
                p.DataSource = DataProviderItem.AllSaleItemsByCompany((int?)ViewData["id_company"]);
                p.ValueField = "id";
                //p.TextField = "name";
                p.TextFormatString = "{1}";
                p.ValueType = typeof(int);
                p.CallbackPageSize = 15;
                p.Width = Unit.Percentage(100);
                p.DropDownStyle = DropDownStyle.DropDownList;
                p.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                p.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                p.Columns.Add("masterCode", "Código", 70);
                p.Columns.Add("name", "Nombre del Producto", 300);
                p.Columns.Add("ItemSaleInformation.MetricUnit.code", "UM", 50);
                p.ClientSideEvents.Init = "ItemCombo_OnInit";
                p.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;
                p.ClientSideEvents.SelectedIndexChanged = "ItemCombo_SelectedIndexChanged";
                p.ClientSideEvents.Validation = "OnItemValidation";
                p.CallbackRouteValues = new { Controller = "SalesOrder", Action = "GetItem" };
                p.ClientSideEvents.BeginCallback = "SalesOrderItem_BeginCallback";
                p.ClientSideEvents.EndCallback = "SalesOrderItem_EndCallback";
            });
        });

        //"quantityTypeUMSale" 5
        settings.Columns.Add(column =>
        {
            column.FieldName = "quantityTypeUMSale";
            column.Name = "quantityTypeUMSale";
            column.Caption = "Cantidad";
            column.ColumnType = MVCxGridViewColumnType.SpinEdit;
            column.Width = Unit.Percentage(5);
            column.ReadOnly = true;

            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Right;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Right;

            column.SetDataItemTemplateContent(c =>
            {
                decimal quantityTypeUMSale = (decimal)DataBinder.Eval(c.DataItem, "quantityTypeUMSale");
                ViewContext.Writer.Write(quantityTypeUMSale.ToString("N2"));
            });

            column.EditorProperties().SpinEdit(p =>
            {
                p.ClientInstanceName = "quantityTypeUMSale";
                p.Width = Unit.Percentage(100);
                p.DisplayFormatString = "N2";
                p.NumberType = SpinEditNumberType.Float;
                p.NumberFormat = SpinEditNumberFormat.Custom;
                p.DisplayFormatInEditMode = true;
                p.DecimalPlaces = 2;
                p.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;

            });
        });

        //"id_metricUnitSale" 3
        settings.Columns.Add(column =>
        {
            column.Name = "id_metricUnitSale";
            column.Caption = "UM";
            column.ColumnType = MVCxGridViewColumnType.TextBox;
            column.Width = Unit.Percentage(3);
            column.ReadOnly = true;
            column.PropertiesEdit.ClientInstanceName = "metricUnitSale";

            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;


            column.SetDataItemTemplateContent(c =>
            {
                var id = (int?)DataBinder.Eval(c.DataItem, "id_item");

                Item item = DataProviderItem.Item(id);
                string metricUnit = (item != null && item.ItemSaleInformation != null) ? item.ItemSaleInformation.MetricUnit.code : "";
                ViewContext.Writer.Write(metricUnit);
            });

            column.SetEditItemTemplateContent(c =>
            {
                int? id = (int?)DataBinder.Eval(c.DataItem, "id_item");
                Item item = DataProviderItem.Item(id);

                string metricUnit = (item != null && item.ItemSaleInformation != null) ? item.ItemSaleInformation.MetricUnit.code : "";

                Html.DevExpress().TextBox(p =>
                {
                    p.Name = "metricUnitSale";
                    p.Properties.ClientInstanceName = "metricUnitSale";

                    p.Width = Unit.Percentage(100);

                    p.ReadOnly = true;
                    p.ShowModelErrors = false;
                }).Bind(metricUnit).GetHtml();//.Render();//.Bind(metricUnit).Render();
            });

        });

        //"quantityRequested" 6
        settings.Columns.Add(column =>
        {
            column.Name = "quantityRequested";
            column.Caption = "Cantidad Requerida";
            column.ColumnType = MVCxGridViewColumnType.SpinEdit;
            column.Width = Unit.Percentage(6);
            column.ReadOnly = true;
            column.PropertiesEdit.ClientInstanceName = "quantityRequested";

            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Right;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Right;

            column.SetDataItemTemplateContent(c =>
            {
                decimal quantityRequested = (decimal)DataBinder.Eval(c.DataItem, "quantityRequested");
                ViewContext.Writer.Write(quantityRequested.ToString("N2"));
            });

            column.SetEditItemTemplateContent(c =>
            {
                decimal quantityRequested = (decimal)DataBinder.Eval(c.DataItem, "quantityRequested");
                ViewContext.Writer.Write(quantityRequested.ToString("N2"));
            });
        });

        //"quantityOrdered" 5
        settings.Columns.Add(column =>
        {
            column.FieldName = "quantityOrdered";
            column.Caption = "Cant. Ordenada";
            column.ColumnType = MVCxGridViewColumnType.SpinEdit;
            column.Width = Unit.Percentage(5);

            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Right;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Right;

            column.SetDataItemTemplateContent(c =>
            {
                decimal quantityOrdered = (decimal)DataBinder.Eval(c.DataItem, "quantityOrdered");
                ViewContext.Writer.Write(quantityOrdered.ToString("N2"));
            });

            column.EditorProperties().SpinEdit(p =>
            {
                p.Width = Unit.Percentage(100);
                p.ClientInstanceName = "quantityOrdered";
                p.DisplayFormatString = "N2";
                p.DisplayFormatInEditMode = true;
                p.DecimalPlaces = 2;
                p.SpinButtons.ShowIncrementButtons = true;
                p.SpinButtons.ShowLargeIncrementButtons = false;
                p.Increment = 0.01M;
                p.LargeIncrement = 1.0M;
                p.MinValue = 0;
                //p.MaxValue = 100;
                p.NumberType = SpinEditNumberType.Float;
                p.NumberFormat = SpinEditNumberFormat.Custom;
                p.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;
                p.ClientSideEvents.Validation = "OnQuantityOrderedValidation";
            });
        });

        //"quantityApproved" 7
        settings.Columns.Add(column =>
        {
            column.FieldName = "quantityApproved";
            column.Caption = "Cantidad Aprobada";
            column.ColumnType = MVCxGridViewColumnType.SpinEdit;
            column.Width = Unit.Percentage(7);

            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Right;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Right;

            column.SetDataItemTemplateContent(c =>
            {
                decimal quantityApproved = (decimal)DataBinder.Eval(c.DataItem, "quantityApproved");
                ViewContext.Writer.Write(quantityApproved.ToString("N2"));
            });

            column.EditorProperties().SpinEdit(p =>
            {
                p.Width = Unit.Percentage(100);
                p.ClientInstanceName = "quantityApproved";
                p.DisplayFormatString = "N2";
                p.DisplayFormatInEditMode = true;
                p.DecimalPlaces = 2;
                p.SpinButtons.ShowIncrementButtons = true;
                p.SpinButtons.ShowLargeIncrementButtons = false;
                p.Increment = 0.01M;
                p.LargeIncrement = 1.0M;
                p.MinValue = 0;
                //p.MaxValue = 100;
                p.NumberType = SpinEditNumberType.Float;
                p.NumberFormat = SpinEditNumberFormat.Custom;
                p.ClientSideEvents.ValueChanged = "QuantityApproved_ValueChanged";
                p.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;
                p.ClientSideEvents.Init = "QuantityApproved_Init";
                p.ClientSideEvents.Validation = "OnQuantityApprovedValidation";
            });
        });

        //quantityDelivered 6
        settings.Columns.Add(column =>
        {
            column.FieldName = "quantityDelivered";
            column.Name = "quantityDelivered";
            column.Caption = "Cant. Suministrada";
            column.ColumnType = MVCxGridViewColumnType.SpinEdit;
            column.Width = Unit.Percentage(6);
            column.ReadOnly = true;

            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Right;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Right;

            column.SetDataItemTemplateContent(c =>
            {
                decimal quantityDelivered = (decimal)DataBinder.Eval(c.DataItem, "quantityDelivered");
                ViewContext.Writer.Write(quantityDelivered.ToString("N2"));
            });

            column.EditorProperties().SpinEdit(p =>
            {
                p.ClientInstanceName = "quantityDelivered";
                p.Width = Unit.Percentage(100);
                p.DisplayFormatString = "N2";
                p.NumberType = SpinEditNumberType.Float;
                p.NumberFormat = SpinEditNumberFormat.Custom;
                p.DisplayFormatInEditMode = true;
                p.DecimalPlaces = 2;
                p.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;

            });
        });

        //id_metricUnitTypeUMPresentation 5
        settings.Columns.Add(column =>
        {
            column.FieldName = "id_metricUnitTypeUMPresentation";
            column.Caption = "UM";
            column.Width = Unit.Percentage(5);
            column.ColumnType = MVCxGridViewColumnType.ComboBox;

            column.SetDataItemTemplateContent(c =>
            {
                var id_metricUnitTypeUMPresentation = (int?)DataBinder.Eval(c.DataItem, "id_metricUnitTypeUMPresentation");

                MetricUnit metricUnit = DataProviderMetricUnit.MetricUnit(id_metricUnitTypeUMPresentation);

                string text = (metricUnit != null) ? metricUnit.code : "";
                ViewContext.Writer.Write(text);
            });

            column.EditorProperties().ComboBox(p =>
            {
                p.ClientInstanceName = "id_metricUnitTypeUMPresentation";
                p.DataSource = DataProviderMetricUnit.MetricUnitsByCompanyAndCurrent((int?)ViewData["id_company"], null);
                //p.TextFormatString = "{1}";
                p.ValueField = "id";
                p.TextField = "code";
                p.Width = Unit.Percentage(100);
                p.ValueType = typeof(int);
                p.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;
                p.DropDownStyle = DropDownStyle.DropDownList;
                p.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                p.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                p.ClientSideEvents.SelectedIndexChanged = "MetricUnitTypeUMPresentationCombo_SelectedIndexChanged";
                p.ClientSideEvents.Validation = "OnMetricUnitTypeUMPresentationValidation";
                p.CallbackRouteValues = new { Controller = "SalesOrder", Action = "GetMetricUnitTypeUMPresentation" };
                p.ClientSideEvents.BeginCallback = "SalesOrderMetricUnitTypeUMPresentation_BeginCallback";
                p.ClientSideEvents.EndCallback = "SalesOrderMetricUnitTypeUMPresentation_EndCallback";
            });
        });

        //"price" 7
        settings.Columns.Add(column =>
        {
            column.FieldName = "price";
            column.Caption = "Precio";
            column.ColumnType = MVCxGridViewColumnType.SpinEdit;
            column.Width = Unit.Percentage(7);
            column.ReadOnly = true;

            column.EditorProperties().SpinEdit(p =>
            {
                p.Width = Unit.Percentage(100);

                p.ClientInstanceName = "price";
                p.DisplayFormatString = "C2";
                p.DisplayFormatInEditMode = true;
                p.DecimalPlaces = 2;
                p.SpinButtons.ShowIncrementButtons = false;
                p.SpinButtons.ShowLargeIncrementButtons = false;
                p.Increment = 0.01M;
                p.LargeIncrement = 1.0M;
                p.MinValue = 0;
                //p.MaxValue = 100;
                p.NumberType = SpinEditNumberType.Float;
                p.NumberFormat = SpinEditNumberFormat.Currency;
                p.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;
                //p.ClientSideEvents.ValueChanged = "Price_ValueChanged";
                p.ClientSideEvents.Validation = "PriceValidation";
            });
        });

        //"iva" 6
        settings.Columns.Add(column =>
        {
            column.FieldName = "iva";
            column.Caption = "IVA";
            column.Name = "iva";
            column.ColumnType = MVCxGridViewColumnType.SpinEdit;
            column.ReadOnly = true;
            column.Width = Unit.Percentage(6);

            column.EditorProperties().SpinEdit(p =>
            {
                p.Width = Unit.Percentage(100);
                p.ClientInstanceName = "iva";
                p.DisplayFormatString = "C2";
                p.DisplayFormatInEditMode = true;
                p.DecimalPlaces = 2;
                p.SpinButtons.ShowIncrementButtons = false;
                p.SpinButtons.ShowLargeIncrementButtons = false;
                p.Increment = 0.01M;
                p.LargeIncrement = 1.0M;
                p.MinValue = 0;
                //p.MaxValue = 100;
                p.NumberType = SpinEditNumberType.Float;
                p.NumberFormat = SpinEditNumberFormat.Currency;
                p.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;
            });

        });

        //"subtotal" 6
        settings.Columns.Add(column =>
        {
            column.FieldName = "subtotal";
            column.Caption = "Subtotal";
            column.Name = "subtotal";
            column.ColumnType = MVCxGridViewColumnType.SpinEdit;
            column.ReadOnly = true;
            column.Width = Unit.Percentage(6);

            column.EditorProperties().SpinEdit(p =>
            {
                p.Width = Unit.Percentage(100);
                p.ClientInstanceName = "subtotal";
                p.DisplayFormatString = "C2";
                p.DisplayFormatInEditMode = true;
                p.DecimalPlaces = 2;
                p.SpinButtons.ShowIncrementButtons = false;
                p.SpinButtons.ShowLargeIncrementButtons = false;
                p.Increment = 0.01M;
                p.LargeIncrement = 1.0M;
                p.MinValue = 0;
                //p.MaxValue = 100;
                p.NumberType = SpinEditNumberType.Float;
                p.NumberFormat = SpinEditNumberFormat.Currency;
                p.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;
            });

        });

        //"discount" 7
        settings.Columns.Add(column =>
        {
            column.FieldName = "discount";
            column.Caption = "Descuento";
            column.ColumnType = MVCxGridViewColumnType.SpinEdit;
            column.Width = Unit.Percentage(7);
            column.ReadOnly = true;

            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Right;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Right;

            column.SetDataItemTemplateContent(c =>
            {
                decimal discount = (decimal)DataBinder.Eval(c.DataItem, "discount");
                ViewContext.Writer.Write(discount.ToString("C2"));
            });

            column.EditorProperties().SpinEdit(p =>
            {
                p.Width = Unit.Percentage(100);
                p.ClientInstanceName = "discount";
                p.DisplayFormatString = "C2";
                p.DisplayFormatInEditMode = true;
                p.DecimalPlaces = 2;
                p.SpinButtons.ShowIncrementButtons = true;
                p.SpinButtons.ShowLargeIncrementButtons = false;
                p.Increment = 0.01M;
                p.LargeIncrement = 1.0M;
                p.MinValue = 0;
                //p.MaxValue = 100;
                p.NumberType = SpinEditNumberType.Float;
                p.NumberFormat = SpinEditNumberFormat.Custom;
                //p.ClientSideEvents.ValueChanged = "Discount_ValueChanged";
                p.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;
                //p.ClientSideEvents.Init = "QuantityApproved_Init";
                p.ClientSideEvents.Validation = "OnDiscountValidation";
            });
        });

        //"total" 6
        settings.Columns.Add(column =>
        {
            column.FieldName = "total";
            column.Caption = "Total";
            column.Name = "total";
            column.ColumnType = MVCxGridViewColumnType.SpinEdit;
            column.ReadOnly = true;
            column.Width = Unit.Percentage(6);

            column.EditorProperties().SpinEdit(p =>
            {
                p.Width = Unit.Percentage(100);
                p.ClientInstanceName = "total";
                p.DisplayFormatString = "C2";
                p.DisplayFormatInEditMode = true;
                p.DecimalPlaces = 2;
                p.SpinButtons.ShowIncrementButtons = false;
                p.SpinButtons.ShowLargeIncrementButtons = false;
                p.Increment = 0.01M;
                p.LargeIncrement = 1.0M;
                p.MinValue = 0;
                //p.MaxValue = 100;
                p.NumberType = SpinEditNumberType.Float;
                p.NumberFormat = SpinEditNumberFormat.Currency;
                p.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;
            });
        });

        if (!OnlyRead)
        {
            //Botones de comandos para registros de la tabla
            MVCxGridViewCommandColumn commandColumn = new MVCxGridViewCommandColumn
            {
                ShowEditButton = !OnlyRead,
                ShowDeleteButton = !OnlyRead,
                ShowCancelButton = !OnlyRead,
                ShowUpdateButton = !OnlyRead,
                Visible = !OnlyRead,
                VisibleIndex = 17,
                Caption = "Acciones",
                Width = Unit.Percentage(5)
            };

            commandColumn.CellStyle.HorizontalAlign = HorizontalAlign.Center;
            settings.Columns.Add(commandColumn);
        }

        #endregion

        settings.PreRender = (s, e) =>
        {
            MVCxGridView g = (s as MVCxGridView);
            if (g != null)
            {
                g.FilterExpression = "isActive = true";
            }
        };

    });

    if (ViewData["EditError"] != null)
    {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()

@functions {
    int GetFilteredRowCountWithoutPage(MVCxGridView grid)
    {
        int selectedRowsOnPage = 0;
        foreach (var key in grid.GetCurrentPageRowValues("id"))
        {
            if (grid.Selection.IsRowSelectedByKey(key))
                selectedRowsOnPage++;
        }
        return grid.Selection.FilteredCount - selectedRowsOnPage;
    }
    String GetUserName(int id)
    {
        var user = DataProviderUser.UserById(id);
        return user.username;
    }
}



