@model List<DXPANACEASOFT.Models.SalesQuotationExterior>

@{
	Layout = null;
}

<h3>Orden de Producción</h3>
<div id="search_option" class="widget-box">
	<div class="widget-header">
		<h6 class="widget-title">Criterios de B&uacute;squeda</h6>
		<span class="widget-toolbar">
			@*<a href="#" data-action="reload">*@
			<a href="#" id="btnAdvancedFilter">
				@*<i class="ace-icon fa fa-refresh"></i>*@
				<i class="ace-icon fa fa-filter"></i>
			</a>
			<a href="#" id="btnCollapsePendiente" data-action="collapse">
				<i id="filterFormIcon" class="ace-icon fa fa-chevron-up"></i>
			</a>
		</span>
	</div>
</div>
<h4>Listado de Proforma</h4>

@Html.Partial("_GridViewPendingNewOrderForeignCustomers", Model.OrderByDescending(a => a.Invoice.Document.emissionDate))

<script src="~/Scripts/salesorder/pending_neworderforeigncustomers.js"></script>