@model List<DXPANACEASOFT.Models.DTOModel.SalesOrderPendingNewDTO>

@{
    Layout = null;
}

<h3>Orden de Producción</h3>
<div id="search_option" class="widget-box">
    <div class="widget-header">
        <h6 class="widget-title">Criterios de B&uacute;squeda</h6>
        <span class="widget-toolbar">
            @*<a href="#" data-action="reload">*@
            <a href="#" id="btnAdvancedFilter">
                @*<i class="ace-icon fa fa-refresh"></i>*@
                <i class="ace-icon fa fa-filter"></i>
            </a>
            <a href="#" id="btnCollapsePendiente" data-action="collapse">
                <i id="filterFormIcon" class="ace-icon fa fa-chevron-up"></i>
            </a>
        </span>
    </div>
</div>
<h4>Listado de Requerimiento de Pedido</h4>

@Html.DevExpress().Button(settings =>
{
    settings.Name = "btnGenerateOrderLocalClient";
    settings.Text = "Generar Orden";
    settings.Images.Image.IconID = IconID.ActionsAdditem16x16office2013;
    settings.ClientEnabled = true;
    settings.UseSubmitBehavior = false;
    settings.EnableClientSideAPI = true;
    settings.ClientSideEvents.Click = "GenerateOrderLocalClient";
}).GetHtml()

<hr style="margin-top: 2px; margin-bottom: 2px;" />

@Html.Partial("_GridViewPendingNewOrderLocalClient", Model)

<script src="~/Scripts/salesorder/pending_neworderlocalclient.js"></script>