
<h2>Modelos de Productos</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("ItemTrademarkModelsPartial");
}
<div id="download-area"></div>
<script src="~/Scripts/itemtrademarkmodel/index.js"></script>
<script src="~/Scripts/itemtrademarkmodel/editform.js"></script>
<script src="~/Scripts/itemtrademarkmodel/validation.js"></script>