<div id="GridMessageErrorLogistics" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrorLogistics";
           settings.Properties.ClientInstanceName = "gridMessageErrorLogistics";
           settings.Text = "";
       }).GetHtml()
</div>

