@model List<DXPANACEASOFT.Models.RemGuide.RGRResultsQuery>

<div id="GridMessageErrorRemissionGuideReassignment" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrorRemissionGuideReassignment";
           settings.Properties.ClientInstanceName = "gridMessageErrorRemissionGuideReassignment";
           settings.Text = "";
       }).GetHtml()
</div>

@Html.DevExpress().Button(settings =>
{
    settings.Name = "btnGenerateRemissionGuideForReasignment";
    settings.Text = "Reasignar Guía Remisión";
    settings.Images.Image.IconID = IconID.ActionsAdditem16x16office2013;
    settings.ClientEnabled = true;
    settings.UseSubmitBehavior = false;
    settings.EnableClientSideAPI = true;
    settings.ClientSideEvents.Click = "GenerateRemissionGuideForReassignment";
}).GetHtml()


<hr style="margin-top: 2px; margin-bottom: 2px;" />

@{
    Html.RenderPartial("_RemissionGuideForReassignmentPartial", Model);
}
