@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}



@{
//ViewData["Model"] = new DXPANACEASOFT.Models.BusinessOportunity()
//{
//    Document = new Document
//    {
//        DocumentType = DataProviderDocumentType.DocumentTypeByCode("12")
//    }
//};

//ViewData["Model"] = new DXPANACEASOFT.Models.BusinessOportunity() { };
//Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_BusinessOportunityViewOpportunitiesFilterFormPartial");
}

<h2>Reporte Guia</h2>


 @*<iframe id="id1" src="@(ViewBag.FileSrc)" name="I1" scrolling="no" height="100%" width="100%" marginwidth ="0" marginheight="0" style="border:none"/>*@

@*<a href="~/Views/AditionalReport/WReportGuia.aspx">~/Views/AditionalReport/WReportGuia.aspx</a>*@
@*@Url.Action("ActionThatRetrieveAndAspx", "Logistics")*@


    <div id="results">
        <iframe src="@(ViewBag.IframeUrl)"  scrolling="no" marginwidth="0" marginheight="0" style="border:none; height:700px; width:1000px;">
            @*<iframe src="~/Views/AditionalReport/WReportGuia.aspx" width="1000" height="400">*@

        </iframe>
    </div>






