@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}

<h4>Gu&iacute;as de Remisi&oacute;n</h4>

@{
    ViewData["Model"] = new RemissionGuide
    {
        Document = new Document
        {
            DocumentType = DataProviderDocumentType.DocumentTypeByCode("07")
        }
    };
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_LogisticsFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/logistics/index.js"></script>
<script src="~/Scripts/shared/ps.genericfunctions.js"></script>