
<h2>Conversión de Medidas</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("MetricUnitConversionsPartial");
}


<script src="~/Scripts/metricunitconversion/index.js"></script>
<script src="~/Scripts/metricunitconversion/editform.js"></script>
<script src="~/Scripts/metricunitconversion/validation.js"></script>