<div id="GridMessageErrorProductionScheduleRequestDetail" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrorProductionScheduleRequestDetail";
           settings.Properties.ClientInstanceName = "gridMessageErrorProductionScheduleRequestDetail";
           settings.Text = "";
       }).GetHtml()
</div>

@Html.DevExpress().Button(settings =>
{
    settings.Name = "btnNewProductionScheduleRequestDetail";
    //settings.Width = 90;
    settings.Text = "";
    //settings.RenderMode = ButtonRenderMode.Link;
    settings.Images.Image.IconID = IconID.ActionsAdditem16x16office2013;
    settings.ClientEnabled = true;
    settings.UseSubmitBehavior = false;
    settings.EnableClientSideAPI = true;
    settings.ClientSideEvents.Click = "AddNewProductionScheduleRequestDetail";
}).GetHtml()

@Html.DevExpress().Button(settings =>
{
    settings.Name = "btnRemoveProductionScheduleRequestDetail";
    //settings.Width = 90;
    settings.Text = "";
    //settings.RenderMode = ButtonRenderMode.Link;
    settings.Images.Image.IconID = IconID.ActionsRemoveitem16x16office2013;
    settings.ClientEnabled = true;
    settings.UseSubmitBehavior = false;
    settings.EnableClientSideAPI = true;
    settings.ClientSideEvents.Click = "RemoveProductionScheduleRequestDetail";
}).GetHtml()

@Html.DevExpress().Button(settings =>
{
    settings.Name = "btnRefreshProductionScheduleRequestDetails";
    //settings.Width = 90;
    settings.Text = "";
    //settings.RenderMode = ButtonRenderMode.Link;
    settings.Images.Image.IconID = IconID.ActionsRefresh16x16office2013;
    settings.ClientEnabled = true;
    settings.UseSubmitBehavior = false;
    settings.EnableClientSideAPI = true;
    settings.ClientSideEvents.Click = "RefreshProductionScheduleRequestDetail";

}).GetHtml()

<hr style="margin-top: 2px; margin-bottom: 2px;" />
