<h2>Rango de Fundas de Hielo</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("IceBagRangePartial");
}

<script src="~/Scripts/icebagrange/index.js"></script>
<script src="~/Scripts/icebagrange/editform.js"></script>
<script src="~/Scripts/icebagrange/validation.js"></script>