
<h4>Editar FORMAS DE PAGO</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_PaymentMethodMainFormPartial")
    </div>
}

<script src="~/Scripts/PaymentMethod/_PaymentMethodEditFormPartial.js"></script>
<script src="~/Scripts/PaymentMethod/validations.js"></script>