@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
@Html.Partial("TableButtonTemplates/TableButtons")
<h4>FORMAS DE PAGO</h4>


@using (Html.BeginForm())
{

    Html.RenderAction("PaymentMethodPartial");
}
<div id="results">

</div>

<script src="~/Scripts/PaymentMethod/index.js"></script>
<script src="~/Scripts/PaymentMethod/editform.js"></script>
<script src="~/Scripts/PaymentMethod/validations.js"></script>



