
@{
    Layout = null;
}

<h2>Roles</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("RolesPartial");
}

<script src="~/Scripts/rol/index.js"></script>


