<h4>Ingresar Estado de Pago</h4>
<hr style="margin: 10px 0px;" />
@{
    TempData.Keep("remissionGuideRiverForInternControl");
    <div id="mainform">
        @Html.Partial("_RemissionGuideRiverInternControlMainFormPartial")
    </div>
}
<script src="~/Scripts/remissionguideriverinterncontrol/_remissionGuideRiverinterncontrolEditFormPartial.js"></script>
<script src="~/Scripts/remissionguideriverinterncontrol/validation.js"></script>