@model List<DXPANACEASOFT.Models.RemissionGuideRiver>

<div id="GridMessageErrorRemissionGuideRiver" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrorRemissionGuideRiver";
           settings.Properties.ClientInstanceName = "gridMessageErrorRemissionGuideRiver";
           settings.Text = "";
       }).GetHtml()
</div>

@Html.DevExpress().Button(settings =>
{
    settings.Name = "btnAssignStatePaymentViatic";
    settings.Text = "Asignar Estado";
    settings.Images.Image.IconID = IconID.ActionsAdditem16x16office2013;
    settings.ClientEnabled = true;
    settings.UseSubmitBehavior = false;
    settings.EnableClientSideAPI = true;
    settings.ClientSideEvents.Click = "AssingStatePaymentViatic";

}).GetHtml()


<hr style="margin-top: 2px; margin-bottom: 2px;" />

@{
    Html.RenderPartial("_RemissionGuideRiverResultsPartial", Model);
}


