@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}

<h4>Anticipo y Vi&aacute;ticos</h4>

@{
    ViewData["Model"] = new RemissionGuideRiver
    {
        Document = new Document
        {
            DocumentType = DataProviderDocumentType.DocumentTypeByCode("69")
        }
    };
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_RemissionGuideRiverInternControlFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/remissionguideriverinterncontrol/index.js"></script>
