
@{
    Layout = null;
}
<h2>Estado de Lotes de Producción</h2>

@Html.Partial("TableButtonTemplates/TableButtons")


@using (Html.BeginForm()) {
    Html.RenderAction("ProductionLotStatePartial");
}

<script src="~/Scripts/productionlotstate/index.js"></script>
<script src="~/Scripts/productionlotstate/editform.js"></script>
<script src="~/Scripts/productionlotstate/validation.js"></script>

