<h4>Importar Productos</h4>
<hr style="margin: 10px 0px;" />

@{
	<div id="notification"></div>
	<div id="mainform">
		@Html.Partial("_ItemsImportViewPartial")
	</div>
	<div id="download-area"></div>
}

<script src="~/Scripts/item/index.js"></script>

