
@model List<DXPANACEASOFT.Models.ItemDocument>

<table class="table table-condensed" style="margin: 0px;">
    <tr>
        <td>
            @{
                Html.RenderPartial("DetailsButtonTemplates/_DetailsButtonItemTechnicalSpecificationsAttachment");
                Html.RenderPartial("_ItemTechnicalSpecificationsAttachedDocumentsEditPartial");
            }
        </td>
    </tr>
</table>
