@model Item
<div style="width: 100%;">
	@Html.DevExpress().Button(
		button =>
		{
			button.Name = "btnCopy";
			button.Text = "";
			button.ToolTip = "Copiar";
			button.Images.Image.IconID = IconID.EditCopy16x16office2013;
			button.UseSubmitBehavior = false;
			button.EnableClientSideAPI = true;
			button.ClientSideEvents.Click = "onCopyData";
			button.ClientEnabled = this.Model.id != 0;
		}).GetHtml()

	<hr style="margin-top: 2px; margin-bottom: 2px;" />
</div>

