@{
	Layout = null;
}

<h2>Productos</h2>
<div id="notification"></div>
<div id="query-filters">
	@Html.Partial("TableButtonTemplates/TableItemButtons")
	@Html.Action("ItemsPartial")
</div>
<div id="query-results"></div>
<div id="edit-form"></div>
<div id="download-area"></div>
<script src="~/Scripts/item/index.js"></script>
<script src="~/Scripts/item/validations.js"></script>
