
<h4>Editar Permiso de Usuario a Bodega</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_UserEntityDetailPermissionMainFormPartial")
    </div>
}

<script src="~/Scripts/UserEntityDetailPermission/validations.js"></script>