@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
@Html.Partial("TableButtonTemplates/TableButtons")
<h4>Permiso de Usuario a Bodega</h4>


@using (Html.BeginForm())
{

    Html.RenderAction("UserEntityDetailPermissionPartial");
}
<div id="results">

</div>

<script src="~/Scripts/UserEntityDetailPermission/index.js"></script>
<script src="~/Scripts/UserEntityDetailPermission/editform.js"></script>
<script src="~/Scripts/UserEntityDetailPermission/validations.js"></script>



