
@model List<DXPANACEASOFT.Models.ModelExtension.ProductionLotReceptionFilter>

<div id="GridMessageProductionLots" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "GridMessageProductionLots";
           settings.Properties.ClientInstanceName = "GridMessageProductionLots";
           settings.Text = "";
       }).GetHtml()
</div>
@{
    Html.RenderPartial("ProductionTemplates/_ProductionGridViewActionsButtons");

    Html.RenderPartial("_ProductionLotReceptionsPartial", Model);
}