@model List<DXPANACEASOFT.Models.ProductionLotPayment>

<h4>Distribución de Precios</h4>
<hr style="margin: 10px 0px;" />

@{
	var id = ViewBag.IdProdutionLot;
	<div id="mainform">
		@Html.Partial("_ProductionLotReceptionHeadFormProductionDistributedCostPartial")
	</div>
}