
@{
    Layout = null;
}

<h2>Vehículos</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("VehiclePartial");
}
    
<script src="~/Scripts/vehicle/index.js"></script>
<script src="~/Scripts/vehicle/validations.js"></script>
<script src="~/Scripts/vehicle/editform.js"></script>



