@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models
@using DXPANACEASOFT.Models.OpeningCloseDocumentsDTO

@{
    Layout = null;
}

<h4>Apertura de Documentos</h4>

@{
    ViewData["Model"] = new OpeningCloseDocumentsFilter();
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_OpeningCloseDocumentsFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/openningclosedocuments/index.js"></script>