
<h4>Editar Parámetros Avanzados</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_AdvanceParametersMainFormPartial")
    </div>
}

<script src="~/Scripts/AdvanceParameters/_AdvanceParametersEditFormPartial.js"></script>
<script src="~/Scripts/AdvanceParameters/validations.js"></script>