@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
@Html.Partial("TableButtonTemplates/TableButtons")
<h4>Parámetros Avanzados</h4>


@using (Html.BeginForm())
{
    Html.RenderAction("AdvanceParametersPartial");
}
<div id="results">

</div>

<script src="~/Scripts/AdvanceParameters/index.js"></script>
<script src="~/Scripts/AdvanceParameters/editform.js"></script>
<script src="~/Scripts/AdvanceParameters/validations.js"></script>



