<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>8.38.89.119:1918</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>8.38.89.119</MSDeployServiceURL>
    <DeployIisAppPath>PSPPPrueba</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrador</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DBContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DXPANACEASOFT.Models.DBContext, DXPANACEASOFT" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DBContextCI" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DXPANACEASOFT.Models.DBContextCI, DXPANACEASOFT" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DBContextIntegration" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DXPANACEASOFT.Models.DBContextIntegration, DXPANACEASOFT" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DXPANACEASOFT.Properties.Settings.Dashboard" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ServerRemoto\Sqlserver2016;Initial Catalog=ELIMINAR;Persist Security Info=True;User ID=panacea;Password=sa" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DXPANACEASOFT.Properties.Settings.Dashboard_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ServerRemoto\Sqlserver2016;Initial Catalog=ELIMINAR;persist security info=True;user id=panacea;password=sa" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="panaceasoftConnectionString" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.100\SQL2016;Initial Catalog=ELIMINAR;Persist Security Info=True;User ID=panacea;Password=sa" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\panaceasoftConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.100\SQL2016;Initial Catalog=ELIMINAR;persist security info=True;user id=panacea;password=sa" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ModelReportDetail" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.100\SQL2016;Initial Catalog=ELIMINAR;User ID=panacea;Password=sa;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ModelReportDetail_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.0.100\SQL2016;initial catalog=ELIMINAR;user id=panacea;password=sa;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DBContextReports" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="XpoProvider=MSSqlServer;data source=192.168.0.100\SQL2016;user id=panacea;password=sa;initial catalog=ELIMINAR;Persist Security Info=true" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBContextReports_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="XpoProvider=MSSqlServer;data source=192.168.0.100\SQL2016;user id=panacea;password=sa;initial catalog=ELIMINAR;Persist Security Info=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBContextCI-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBContextReports-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DXPANACEASOFT.Properties.Settings.Dashboard-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ModelReportDetail-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)panaceasoftConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>