@{
    Layout = null;
}

<h2>Períodos de Programación de Producción</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("ProductionSchedulePeriodsPartial");

}

<script src="~/Scripts/productionscheduleperiod/index.js"></script>
<script src="~/Scripts/productionscheduleperiod/editform.js"></script>
<script src="~/Scripts/productionscheduleperiod/validation.js"></script>