
@model List<DXPANACEASOFT.Models.BusinessOportunityPartner>
    
<table class="table table-condensed" style="margin: 0px;">
    <tr>
        <td>
            @{
                Html.RenderPartial("DetailsButtonTemplates/_DetailsButtonsBusinessPartner");
                Html.RenderPartial("_BusinessOportunityPartnersEditPartial");
             }
        </td>
    </tr>
</table>
