
@model List<DXPANACEASOFT.Models.BusinessOportunityCompetition>

<table class="table table-condensed" style="margin: 0px;">
    <tr>
        <td>
            @{
                Html.RenderPartial("DetailsButtonTemplates/_DetailsButtonsBusinessCompetition");
                Html.RenderPartial("_BusinessOportunityCompetitionsEditPartial");
            }
        </td>
    </tr>
</table>
