
@model List<DXPANACEASOFT.Models.BusinessOportunityDocument>

<table class="table table-condensed" style="margin: 0px;">
    <tr>
        <td>
            @{
                Html.RenderPartial("DetailsButtonTemplates/_DetailsButtonsBusinessAttachedDocument");
                Html.RenderPartial("_BusinessOportunityAttachedDocumentsEditPartial");
            }
        </td>
    </tr>
</table>
