
@model List<DXPANACEASOFT.Models.BusinessOportunityPhase>

<table class="table table-condensed" style="margin: 0px;">
    <tr>
        <td>
            @{
                Html.RenderPartial("DetailsButtonTemplates/_DetailsButtonTabOportunityPhases");
                Html.RenderPartial("_BusinessOportunityPhasesPartial");
            }
        </td>
    </tr>
</table>


