@model DXPANACEASOFT.Models.BusinessOportunity

<h4>Editar Oportunidad de Negocio</h4>
<hr style="margin: 10px 0px;" />

@{
    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtons");

    <div id="mainform">
        @Html.Partial("_BusinessOportunityMainFormPartial")
    </div>
}

<script src="~/Scripts/businessoportunity/_bussinesoportunityEditFormPartial.js"></script>
<script src="~/Scripts/businessoportunity/validations.js"></script>
