<div id="GridMessageErrorPhase" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrorPhase";
           settings.Properties.ClientInstanceName = "gridMessageErrorPhase";
           settings.Text = "";
       }).GetHtml()
</div>
