<div id="GridMessageErrorBO" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrorBO";
           settings.Properties.ClientInstanceName = "gridMessageErrorBO";
           settings.Text = "";
       }).GetHtml()
</div>

