@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}

<h4>Consulta de Oportunidades</h4>

@{
    //ViewData["Model"] = new DXPANACEASOFT.Models.BusinessOportunity()
    //{
    //    Document = new Document
    //    {
    //        DocumentType = DataProviderDocumentType.DocumentTypeByCode("12")
    //    }
    //};

    ViewData["Model"] = new DXPANACEASOFT.Models.BusinessOportunity() { };
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_BusinessOportunityViewOpportunitiesFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/businessoportunity/indexViewOpportunities.js"></script>
