@using DXPANACEASOFT.Models

<div id="GridMessageErrorLiquidationFreight" style="display: none;">
    @*@Html.DevExpress().Label(settings =>
    {
        settings.Name = "gridMessageErrorLiquidationFreight";
        settings.Properties.ClientInstanceName = "gridMessageErrorLiquidationFreight";
        settings.Text = "";
    }).GetHtml()*@
</div>
@Html.DevExpress().Button(settings =>
{
    settings.Name = "btnNewDetail";
    settings.Text = "";
    settings.Images.Image.IconID = IconID.ActionsAdditem16x16office2013;
    settings.ClientEnabled = true;
    settings.UseSubmitBehavior = false;
    settings.EnableClientSideAPI = true;
    settings.ClientSideEvents.Click = "AddRemissionGuide";
}).GetHtml()
<div>
    @{
        Html.RenderPartial("_PopUpRemissionGuide", null);
    }
</div>

    
<hr style="margin-top: 2px; margin-bottom: 2px;" />
