@model List<DXPANACEASOFT.Models.DTOModel.NonProductiveHourPendingNewDTO>

@{
    Layout = null;
}

<h3>Control de Horas de Trabajo</h3>
<div id="search_option" class="widget-box">
    <div class="widget-header">
        <h6 class="widget-title">Criterios de B&uacute;squeda</h6>
        <span class="widget-toolbar">
            @*<a href="#" data-action="reload">*@
            <a href="#" id="btnAdvancedFilter">
                @*<i class="ace-icon fa fa-refresh"></i>*@
                <i class="ace-icon fa fa-filter"></i>
            </a>
            <a href="#" id="btnCollapsePendiente" data-action="collapse">
                <i id="filterFormIcon" class="ace-icon fa fa-chevron-up"></i>
            </a>
        </span>
    </div>
</div>
<h4>Listado de Máquinas</h4>

@Html.Partial("_GridViewPendingNew", Model)

<script src="~/Scripts/nonproductivehour/pending_new.js"></script>