
<h4>Editar Cierre Diario/Turno</h4>
<hr style="margin: 10px 0px;" />

@{

    Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtons");
    <div id="mainform">
        @Html.Partial("_ProductionLotDailyCloseEditFormPartial")
    </div>
}

<script src="~/Scripts/productionlotdailyclose/_productionLotDailyCloseEditFormPartial.js"></script>
<script src="~/Scripts/productionlotdailyclose/validations.js"></script>
