
@{
    Layout = null;
}

<h4>Cierre Diario/Turno</h4>

@{
    ViewData["Model"] = new DXPANACEASOFT.Models.ProductionLotDailyClose();
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_ProductionLotDailyCloseFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/productionlotdailyclose/index.js"></script>