<h4>Editar Permisos a Bodegas</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_WarehousePermitsMainFormPartial")
    </div>
}

@*<script src="~/Scripts/InventoryPeriod/_InventoryPeriodEditFormPartial.js"></script>
<script src="~/Scripts/InventoryPeriod/validations.js"></script>*@