<h2>Asignación de permisos a Bodegas</h2>

@*@Html.Partial("TableButtonTemplates/TableButtons")*@

@using (Html.BeginForm())
{
    Html.RenderAction("WarehousePermitsPartial");
}

<script src="~/Scripts/warehousePermits/index.js"></script>