
<h2>Configuración Notificación vía Email</h2>

@Html.Partial("TableButtonTemplates/TableButtonsSimple")

@using (Html.BeginForm())
{
    Html.RenderAction("EmailNotifyDocumentTypePartial");
}

<script src="~/Scripts/emailnotify/index.js"></script>
<script src="~/Scripts/emailnotify/editform.js"></script>
<script src="~/Scripts/emailnotify/validation.js"></script>
