@{
	Layout = null;
}
<h4>Exportación de Datos del Sistema</h4>

@Html.Partial("FilterBoxTemplates/_FilterBox", "_QueryFilterDataExportPartial")
<div id="results"></div>
<script src="~/Scripts/dataExport/index.js"></script>