
<h2>Color de Productos</h2>

@Html.Partial("TableButtonTemplates/TableButtons")



@using (Html.BeginForm())
{

    Html.RenderAction("ItemColorsPartial");
}


<script src="~/Scripts/itemcolor/index.js"></script>
<script src="~/Scripts/itemcolor/editform.js"></script>
<script src="~/Scripts/itemcolor/validation.js"></script>

