
<h4>Editar Periodo</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_InventoryValuationPeriodMainFormPartial")
    </div>
}

<script src="~/Scripts/InventoryValuationPeriod/_InventoryValuationPeriodEditFormPartial.js"></script>
<script src="~/Scripts/InventoryValuationPeriod/validations.js"></script>