@using System.Globalization
@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models
@model DXPANACEASOFT.Models.InventoryValuationPeriod

@{
    int id_InventoryValuationPeriod = (Model != null) ? Model.id : 0;
}

@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "FormEditInventoryValuationPeriod", name = "FormEditInventoryValuationPeriod" }))
{
    if (ViewData["EditMessage"] != null)
    {
        @Html.Raw(ViewData["EditMessage"]);
    }

    @Html.Hidden("id_InventoryValuationPeriod", id_InventoryValuationPeriod)

    @Html.DevExpress().PageControl(tabs =>
{
    tabs.Name = "tabControl";
    tabs.Width = Unit.Percentage(100);
    tabs.EnableClientSideAPI = true;
    tabs.ClientSideEvents.Init = "TabControl_Init";
    tabs.ClientSideEvents.ActiveTabChanged = "TabControl_ActiveTabChanged";
    tabs.TabPages.Add(tab =>
    {
        tab.Name = "tabdetail";
        tab.Text = "Detalles    ";
        tab.TabStyle.Width = Unit.Percentage(100);
        tab.TabImage.Width = Unit.Pixel(16);
        tab.TabImage.Height = Unit.Pixel(16);
        tab.TabImage.Align = ImageAlign.Right;
        tab.TabImage.Url = "/Content/image/noimage.png";
        tab.ActiveTabImage.Align = ImageAlign.Right;
        tab.ActiveTabImage.Url = "/Content/image/noimage.png";

        tab.SetContent(() =>
        {
            Html.RenderPartial("_InventoryValuationPeriodMainFormTabDetail");
        });
    });


    tabs.TabPages.Add(tab =>
    {
        tab.Name = "tabDeta";
        tab.Text = "Periodo    ";
        tab.TabStyle.Width = Unit.Percentage(100);

        tab.TabImage.Width = Unit.Pixel(16);
        tab.TabImage.Height = Unit.Pixel(16);
        tab.TabImage.Align = ImageAlign.Right;
        tab.TabImage.Url = "/Content/image/noimage.png";
        tab.ActiveTabImage.Align = ImageAlign.Right;
        tab.ActiveTabImage.Url = "/Content/image/noimage.png";

        tab.SetContent(() =>
        {

            List<InventoryValuationPeriodDetail> details = (Model != null && Model.InventoryValuationPeriodDetail != null)
                                                    ? Model.InventoryValuationPeriodDetail.ToList()
                                                    : new List<InventoryValuationPeriodDetail>();
                 
                Html.RenderPartial("_Details", details);
        });
    });

}).GetHtml()

    <table class="table table-condensed">
        <tr style="border-top: 1px Solid #C0C0C0;">
            <td colspan="6" style="text-align: right; margin-top: 5px;">
                @{
                    Html.DevExpress().Button(button =>
                    {
                        button.Name = "btnUpdate";
                        button.Text = id_InventoryValuationPeriod !=0? "Actualizar":"Generar";
                        button.RenderMode = ButtonRenderMode.Button;
                        button.ImagePosition = ImagePosition.Left;
                        button.Images.Image.IconID = IconID.ActionsSave16x16devav;
                        button.UseSubmitBehavior = false;
                        button.ValidateInvisibleEditors = true;
                        button.ClientSideEvents.Click = "ButtonUpdate_Click";
                    }).Render();

                    ViewContext.Writer.Write("&nbsp;&nbsp;");

                    Html.DevExpress().Button(button =>
                    {
                        button.Name = "btnClose";
                        button.Text = "Cerrar";
                        button.RenderMode = ButtonRenderMode.Button;
                        button.ImagePosition = ImagePosition.Left;
                        button.Images.Image.IconID = IconID.ActionsClose16x16office2013;
                        button.UseSubmitBehavior = false;
                        button.ClientSideEvents.Click = "ButtonCancel_Click";
                    }).Render();
                }
            </td>
        </tr>
    </table>
}

<script src="~/Scripts/InventoryValuationPeriod/editform.js"></script>

<script src="~/Scripts/InventoryValuationPeriod/validations.js"></script>