@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
<h4>Períodos de Valorización de Inventario</h4>

@{
    ViewData["Model"] = new InventoryValuationPeriod();
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_InventoryValuationPeriodFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/InventoryValuationPeriod/index.js"></script>



