@{
    Layout = null;
}
<h2>Controladores</h2>

@Html.Partial("TableButtonTemplates/TableButtons")


@{
    Html.RenderAction("TControllerPartial");
}

<script src="~/Scripts/tcontroller/index.js"></script>
<script src="~/Scripts/tcontroller/validations.js"></script>
<script src="~/Scripts/tcontroller/editform.js"></script>
