
@{
    Layout = null;
}

<h2>Tarifario de Transporte</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

<div  id="_errormsgTT" class="pserr0" style="display:none" ></div>
@{
    Html.RenderAction("TransportTariffPartial");
}

<script src="~/Scripts/transporttariff/index.js"></script>
<script src="~/Scripts/transporttariff/editform.js"></script>
<script src="~/Scripts/transporttariff/validation.js"></script>
<script src="~/Scripts/shared/ps.genericfunctions.js"></script>