@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}

<h4>Pre Liquidación de Transporte Fluvial</h4>

@{
    ViewData["Model"] = new RemissionGuideRiver
    {
        Document = new Document
        {
            DocumentType = null
        }
    };
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_PreLiquidationRiverFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/preliquidationfreightriver/index.js"></script>