
<h2>Men&uacute;es</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@{
    Html.RenderAction("MenuTreeListPartial");
}

<script src="~/Scripts/menu/index.js"></script>
<script src="~/Scripts/menu/editform.js"></script>
<script src="~/Scripts/menu/validation.js"></script>