@using CriterioResumen = DXPANACEASOFT.Controllers.CostProductValuationController.CriterioResumen
<table width="100%">
	<tr>
		<td>

			<hr style="margin-top: 8px; margin-bottom: 2px;" />
		</td>
	</tr>
	<tr>
		<td>
			@using (Html.BeginForm())
			{
				@Html.Partial("_ProductValuationInventoryMoveResumenCallbackPanel")
			}
		</td>
	</tr>
</table>