<div style="text-align: center">
    <h3 class="green">&iexcl; FELICITACIONES !</h3>
    <p>Usted acaba de registrar su compa&ntilde;&iacute;a en nuestro sistema</p>
    <p>Hemos enviado al correo registrado para la compa&ntilde;&iacute;a toda la informaci&oacute;n de registro</p>
</div>
