

<div style="padding: 0% 7%;">

    <table class="table table-condensed" style="border: 0px solid #ffffff; margin-bottom: 0px; padding-top: 2px;">
        <tr>
            <td rowspan="10" style="text-align: center; vertical-align: middle; padding-right: 25px;">
                <img id="logoImage" src="" style="width: 200px;"/>
            </td>
        </tr>
        <tr>
            <td style="width: 20%;"><strong>
                    Razón Social:
                </strong>
            </td>
            <td id="txtBusinessName"></td>
            <td style="width: 30%;">
                <strong>
                    Nombre Comercial:
                </strong>
            </td>
            <td id="txtTrademark"></td>
        </tr>
        <tr>
            <td>
                <strong>
                    RUC:
                </strong>
            </td>
            <td  id="txtRUC"></td>
            <td>
                <strong>
                    Correo:
                </strong>
            </td>
            <td id="txtEmail"></td>
        </tr>
        <tr>
            <td>
                <strong>
                    Dirección:
                </strong>
            </td>
            <td colspan="3" id="txAddress"></td>
        </tr>
        <tr>
            <td>
                <strong>
                    Teléfono:
                </strong>
            </td>
            <td id="txtPhoneNumber"></td>
        </tr>
        <tr>
            <td>
                <strong>Divisi&oacute;n Principal:</strong>
            </td>
            <td id="txtDivisioName" style="width: 50%;"></td>
        </tr>
        <tr>
            <td>
                <strong>Sucursal Principal:</strong>
            </td>
            <td id="txtBranchOfficeName"></td>
            <td>
                <strong>C&oacute;digo de la Sucursal:</strong>
            </td>
            <td id="txtBranchOfficeCode"></td>
        </tr>
        <tr>
            <td>
                <strong>Casa Matriz:</strong>
            </td>
            <td id="txtEmissionPointName"></td>
            <td>
                <strong>C&oacute;digo del Punto de Emisi&oacute;n:</strong>
            </td>
            <td id="txtEmissionPointCode"></td>
        </tr>
        <tr>
            <td>
                <strong>Nombre de Usuario:</strong>
            </td>
            <td id="txtUserName"></td>
        </tr>
    </table>
</div>    


