
<h2>Talla de Producto</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("ItemSizesPartial");
}

<script src="~/Scripts/itemsize/index.js"></script>
<script src="~/Scripts/itemsize/editform.js"></script>
<script src="~/Scripts/itemsize/validation.js"></script>


