
<h4>Editar País y Tipo de Identificación</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_Country_IdentificationTypeMainFormPartial")
    </div>
}

<script src="~/Scripts/Country_IdentificationType/_ShippingLineShippingAgencyEditFormPartial.js"></script>
<script src="~/Scripts/Country_IdentificationType/validations.js"></script>