@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}
@Html.Partial("TableButtonTemplates/TableButtons")
<h4>País y Tipo de Identificación</h4>


@using (Html.BeginForm())
{

    Html.RenderAction("Country_IdentificationTypePartial");
}
<div id="results">

</div>

<script src="~/Scripts/Country_IdentificationType/index.js"></script>
<script src="~/Scripts/Country_IdentificationType/editform.js"></script>
<script src="~/Scripts/Country_IdentificationType/validations.js"></script>



