@{
    Layout = null;
}


<h2>Tipos de Bodegas</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("WarehousesTypesPartial");
}

<script src="~/Scripts/warehousetype/index.js"></script>
<script src="~/Scripts/warehousetype/editform.js"></script>
<script src="~/Scripts/warehousetype/validation.js"></script>