
@{
    Layout = null;
}

<h4>Cierre por Máquina - Turno</h4>

@{
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_IndexSearch");
}

<div id="grid"></div>

<script>
    $("#btnCollapse").click(function (event) {
        if ($("#filterFormIcon").hasClass("fa-chevron-up")) {
            $("#grid").css("display", "block");
        } else {
            $("#grid").css("display", "none");
        }
    });
</script>