
<div style="width: 100%;">

    <div class="vertical-divider"></div>

    @Html.DevExpress().Button(settings =>
    {

        settings.Name = "btnPrint";
        settings.ToolTip = "Imprimir";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.ActionsPrint16x16devav;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "Print";

    }).GetHtml()

    <div class="vertical-divider"></div>

</div>
<hr style="margin-top: 2px; margin-bottom: 2px;" />
