
<h4>Editar Proceso Productivo</h4>
<hr style="margin: 10px 0px;" />

@{

    Html.RenderPartial("ProductionTemplates/_ProductionProcessFormEditActionsButtons");
    <div id="mainform">
        @Html.Partial("_ProductionLotProcessEditFormPartial")
    </div>
}

<script src="~/Scripts/productionlotprocess/_productionLotProcessEditFormPartial.js"></script>
<script src="~/Scripts/productionlotprocess/validations.js"></script>
