
@{
    Layout = null;
}

<h4>Procesar Lotes</h4>

@{
    ViewData["Model"] = new DXPANACEASOFT.Models.ProductionLot();
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_ProductionLotProcessFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/productionlotprocess/index.js"></script>