
<h2>Método de valoración de stocks</h2>


@Html.Partial("TableButtonTemplates/TableButtons")


@using (Html.BeginForm())
{
    Html.RenderAction("InventoryValuationMethodPartial");
}



<script src="~/Scripts/inventoryvaluationmethod/index.js"></script>
<script src="~/Scripts/InventoryValuationmethod/editform.js"></script>
<script src="~/Scripts/inventoryvaluationmethod/validation.js"></script>
