@{
    Layout = null;
}

<h2>Líneas de Inventarios</h2>

@Html.Partial("TableButtonTemplates/TableButtons")

@using (Html.BeginForm())
{
    Html.RenderAction("InventoryLinesPartial");

}

<script src="~/Scripts/inventoryline/index.js"></script>
<script src="~/Scripts/inventoryline/editform.js"></script>
<script src="~/Scripts/inventoryline/validation.js"></script>