@using DXPANACEASOFT.Models.Dto
@model List<CustodianIncomeDto>

@{

    <div style="display:none" id="msgInfoCustodianIncome">


    </div>

    Html.RenderPartial("_CustodianIncomePartial", Model);

}