
<h4>Editar Ingreso de Custodio</h4>
<hr style="margin: 10px 0px;" />

@{
    Html.RenderPartial("CustodianOptionButtons/_ControlCustodianButtons");
    


    <div id="mainform">
        @Html.Partial("_CustodianIncomeMainFormPartial")
    </div>
}

<script src="~/Scripts/custodianincome/_custodianIncomeEditFormPartial.js"></script>
<script src="~/Scripts/custodianincome/validations.js"></script>
<script src="~/Scripts/shared/ps.genericfunctions.js"></script>