<div id="GridMessageErrorCustodianIncome" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrorCustodianIncome";
           settings.Properties.ClientInstanceName = "gridMessageErrorCustodianIncome";
           settings.Text = "";
       }).GetHtml()
</div>

