@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}

<h4>Ingreso de Custodio</h4>

@{
    ViewData["Model"] = new CustodianIncome
    {
        Document = new Document
        {
            DocumentType = DataProviderDocumentType.DocumentTypeByCode("167")
        }
    };
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_CustodianIncomeFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/custodianincome/index.js"></script>
<script src="~/Scripts/shared/ps.genericfunctions.js"></script>