
<h4>Editar Máquina</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_MachineForProdMainFormPartial")
    </div>
}

<script src="~/Scripts/MachineForProd/_MachineForProdEditFormPartial.js"></script>
<script src="~/Scripts/MachineForProd/validations.js"></script>