
<h4>Editar FORMAS Y PLAZOS DE PAGO</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_PaymentMethodPaymentTermMainFormPartial")
    </div>
}

<script src="~/Scripts/PaymentMethodPaymentTerm/_PaymentMethodPaymentTermEditFormPartial.js"></script>
<script src="~/Scripts/PaymentMethodPaymentTerm/validations.js"></script>