
<h4>Editar Turno</h4>
<hr style="margin: 10px 0px;" />

@{
    <div id="mainform">
        @Html.Partial("_TurnMainFormPartial")
    </div>
}

<script src="~/Scripts/turn/_TurnEditFormPartial.js"></script>
<script src="~/Scripts/turn/validations.js"></script>