<h4>Registrar Salida de Veh&iacute;culos</h4>
<hr style="margin: 10px 0px;" />
@{
    TempData.Keep("remissionGuideForControlVehicle");
    <div id="mainform">
        @Html.Partial("_RemissionGuideControlVehicleMainFormPartial")
    </div>
}
<script src="~/Scripts/remissionguidecontrolvehicle/_remissionGuideControlVehicleEditFormPartial.js"></script>
<script src="~/Scripts/remissionguidecontrolvehicle/validation.js"></script>