@model List<DXPANACEASOFT.Models.RemissionGuide>

<div id="GridMessageErrorRemissionGuide" style="display: none;">
    @Html.DevExpress().Label(settings =>
       {
           settings.Name = "gridMessageErrorRemissionGuide";
           settings.Properties.ClientInstanceName = "gridMessageErrorRemissionGuide";
           settings.Text = "";
       }).GetHtml()
</div>

@Html.DevExpress().Button(settings =>
{
    settings.Name = "btnAssignDateTimeRemissionGuideControl";
    settings.Text = "Asignar Fecha y Hora";
    settings.Images.Image.IconID = IconID.ActionsAdditem16x16office2013;
    settings.ClientEnabled = true;
    settings.UseSubmitBehavior = false;
    settings.EnableClientSideAPI = true;
    settings.ClientSideEvents.Click = "GenerateRemissionGuideControlVehicleExit";
}).GetHtml()


<hr style="margin-top: 2px; margin-bottom: 2px;" />

@{
    Html.RenderPartial("_RemissionGuideResultsPartial", Model);
}


