@using RemissionGuideSalidaDTO = DXPANACEASOFT.Controllers.RemissionGuideControlVehicleController.RemissionGuideSalidaDTO;
@model List<RemissionGuideSalidaDTO>

@{
	<style>
		.tama {
			height: initial;
			width: initial;
			overflow-y: auto;
		}
	</style>
}

@{
	//Html.RenderPartial("DocumentTemplates/_DocumentGridViewActionsButtons");
	<div class="tama">
		@using (Html.BeginForm())
		{
			Html.RenderPartial("_RemissionGuideControlVehiclePartial", Model);
		}
	</div>
}

