@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Layout = null;
}

<h4>Salida de Veh&iacute;culos</h4>

@{
    ViewData["Model"] = new RemissionGuide
    {
        Document = new Document
        {
            DocumentType = DataProviderDocumentType.DocumentTypeByCode("07")
        }
    };
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_RemissionGuideControlVehicleFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/remissionguidecontrolvehicle/index.js"></script>
