@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models
@using DXPANACEASOFT.Models.LiquidationPayProviderDTO

@{
    Layout = null;
}

<h4>Consulta de Liquidaci&oacute;n a Proveedores</h4>

@{
    //ViewData["Model"] = new AdvanceProvider
    //{
    //    Document = new Document
    //    {
    //        DocumentType = DataProviderDocumentType.DocumentTypeByCode("68")
    //    }
    //};
    ViewData["Model"] = new LiquidationPayProviderFilter();
    Html.RenderPartial("FilterBoxTemplates/_FilterBox", "_LiquidationPayProviderQueryFilterFormPartial");
}

<div id="results">

</div>

<script src="~/Scripts/liquidationpayproviderquery/index.js"></script>