
@model List<DXPANACEASOFT.Models.Invoice>


@{
    Html.RenderPartial("DocumentTemplates/_DocumentGridViewActionsButtonsSalesQuotationExterior");

  

    <div style="display:none" id="msgInfoSalesQuotationExterior">   
        

    </div>

    Html.RenderPartial("_IndexResultGridView", Model);

}
