
@model List<DXPANACEASOFT.Models.SalesQuotationExteriorDocument>

<table class="table table-condensed" style="margin: 0px;">
    <tr>
        <td>
            @{
                Html.RenderPartial("DetailsButtonTemplates/_DetailsButtonsSalesQuotationExteriorAttachedDocument");
                Html.RenderPartial("_SalesQuotationExteriorAttachedDocumentsEditPartial");
            }
        </td>
    </tr>
</table>
