@using System.Globalization
@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models
@model DXPANACEASOFT.Models.SalesQuotationExterior
	<div class="row">
		<div class="col-sm-1" style="width: 5%">
			Product:
		</div>
		<div class="col-sm-2" style="width: 15%">
			@Html.DevExpress().TextBoxFor(m => m.Product, settings =>
			   {
				   settings.Name = "product";
				   settings.Properties.ClientInstanceName = "product";
				   settings.Width = Unit.Percentage(100);
				   settings.Properties.MaxLength = 100;

			   }).GetHtml()
		</div>
		<div class="col-sm-1" style="width: 9%">
			Colour - Grade:
		</div>
		<div class="col-sm-2" style="width: 15%">
			@Html.DevExpress().TextBoxFor(m => m.ColourGrade, settings =>
				{
					settings.Name = "colourGrade";
					settings.Properties.ClientInstanceName = "colourGrade";
					settings.Width = Unit.Percentage(100);
					settings.Properties.MaxLength = 100;

				}).GetHtml()
		</div>
		<div class="col-sm-1" style="width: 9%">
			Packing Details:
		</div>
		<div class="col-sm-2" style="width: 15%">
			@Html.DevExpress().TextBoxFor(m => m.PackingDetails, settings =>
				{
					settings.Name = "packingDetails";
					settings.Properties.ClientInstanceName = "packingDetails";
					settings.Width = Unit.Percentage(100);
					settings.Properties.MaxLength = 100;
				
				}).GetHtml()
		</div>
		<div class="col-sm-1" style="width: 10%">
			Container Details:
		</div>
		<div class="col-sm-2" style="width: 15%">
			@Html.DevExpress().TextBoxFor(m => m.ContainerDetails, settings =>
				{
					settings.Name = "containerDetails";
					settings.Properties.ClientInstanceName = "containerDetails";
					settings.Width = Unit.Percentage(100);
					settings.Properties.MaxLength = 100;
					
				}).GetHtml()
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2" style="width: 100%">
		</div>
	</div>