
<h4>Editar Proforma del Exterior</h4>
<hr style="margin: 10px 0px;" />

@{
	Html.RenderPartial("DocumentTemplates/_DocumentFormEditActionsButtonsSalesQuotationExterior");

	<div id="mainform">		
		@Html.Partial("_EditForm")
	</div>
}

<script src="~/Scripts/salesquotationexterior/_invoiceExteriorEditFormPartial.js"></script>
<script src="~/Scripts/salesquotationexterior/validations.js"></script>
<script src="~/Scripts/shared/ps.genericfunctions.js"></script>
